@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

header {
  height: 10.9375rem;
  background-color: #F1F1F1;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  border-bottom: solid 1px #00346B; }
  header .header-border {
    height: 6.25rem;
    border-right: 0.25rem solid #00346B; }
  header .general-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 6.25rem 0 6.25rem;
    align-items: center; }
    header .general-container .logo-container {
      width: 7.5rem;
      height: 7.5rem;
      background-color: black; }
    header .general-container .header-text {
      display: flex;
      flex-direction: column;
      align-items: center; }
      header .general-container .header-text p {
        color: #00346B;
        font-weight: normal;
        font-size: 2.1875rem;
        text-align: center;
        font-family: "lora";
        margin: 0;
        width: 100%; }
      header .general-container .header-text .subtitulo {
        font-size: 1.25rem;
        width: 75%; }

footer {
  background-color: #00346B;
  display: flex;
  align-items: center;
  height: 28.125rem; }
  footer h2 {
    color: #F1F1F1;
    font-weight: normal;
    font-size: 2.0313rem;
    text-align: center;
    font-family: "lora";
    margin-bottom: 1.6875rem;
    position: relative;
    display: inline-block; }
    footer h2::before {
      content: "";
      position: absolute;
      bottom: -0.25rem;
      /* Ajusta la posición del subrayado */
      left: 21.5%;
      /* Centra el subrayado */
      width: 60%;
      /* Controla el porcentaje del subrayado */
      height: .1875rem;
      /* Grosor del subrayado */
      background-color: #F1F1F1;
      /* Color del subrayado */ }
  footer p {
    color: white;
    font-weight: normal;
    font-size: 1.25rem;
    text-align: center;
    font-family: "Open Sans";
    width: 60%;
    margin-bottom: 1.5625rem; }
  footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    width: 100%; }
    footer .footer-container div {
      width: 33%;
      flex-grow: 1; }
    footer .footer-container .footer-direccion, footer .footer-container .footer-horarios {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0; }
    footer .footer-container .footer-direccion {
      border-right: 0.25rem solid #F1F1F1;
      border-left: 0.25rem solid #F1F1F1; }
    footer .footer-container .footer-contacto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.875rem; }
      footer .footer-container .footer-contacto .footer-item {
        width: 70%;
        display: grid;
        grid-template-columns: 5rem auto;
        grid-template-rows: auto auto;
        column-gap: 1.875rem;
        row-gap: 0;
        justify-content: left;
        align-items: none; }
        footer .footer-container .footer-contacto .footer-item img {
          width: 5rem;
          grid-row: 1/3;
          grid-column: 1/2;
          transition: all 0.3s ease; }
          footer .footer-container .footer-contacto .footer-item img:hover {
            transform: scale(1.1); }
        footer .footer-container .footer-contacto .footer-item h3 {
          color: #F1F1F1;
          font-weight: normal;
          font-size: 1.25rem;
          text-align: center;
          font-family: "Lora";
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          align-self: last baseline;
          justify-self: left;
          margin: 0; }
        footer .footer-container .footer-contacto .footer-item a {
          color: white;
          font-weight: normal;
          font-size: 1.25rem;
          text-align: center;
          font-family: "Open Sans";
          text-decoration: none;
          grid-row: 2 / 3;
          grid-column: 2 / 3;
          align-self: none;
          justify-self: left; }
          footer .footer-container .footer-contacto .footer-item a:hover {
            text-decoration: underline; }

body::before {
  content: "";
  display: block;
  height: 10.9375rem; }

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 650px;
  background-image: url(../../assets/FloresBackgroundInicio.jpg);
  background-color: rgba(94, 82, 40, 0.2);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .introduction .introduction-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #ffffffbd;
    width: 45%;
    height: 62.5%; }
    .introduction .introduction-information h1 {
      color: #00346B;
      font-weight: normal;
      font-size: 30px;
      text-align: center;
      font-family: "Lora";
      width: 90%;
      position: relative;
      display: inline-block; }
      .introduction .introduction-information h1::before {
        content: "";
        position: absolute;
        bottom: -0.50rem;
        /* Ajusta la posición del subrayado */
        left: 20%;
        /* Centra el subrayado */
        width: 60%;
        /* Controla el porcentaje del subrayado */
        height: 3.5px;
        /* Grosor del subrayado */
        background-color: #00346B;
        /* Color del subrayado */ }
    .introduction .introduction-information p {
      color: black;
      font-weight: normal;
      font-size: 22.5px;
      text-align: center;
      font-family: "Open Sans";
      width: 87%;
      text-align: justify;
      margin: 0; }

.servicios-inicio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1; }
  .servicios-inicio-container h2 {
    color: #00346B;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    font-family: "lora";
    padding-top: 50px;
    position: relative;
    display: inline-block; }
    .servicios-inicio-container h2::before {
      content: "";
      position: absolute;
      bottom: -10.5px;
      /* Ajusta la posición del subrayado */
      left: 35%;
      /* Centra el subrayado */
      width: 30%;
      /* Controla el porcentaje del subrayado */
      height: 3px;
      /* Grosor del subrayado */
      background-color: #00346B;
      /* Color del subrayado */ }
  .servicios-inicio-container .servicios-inicio {
    padding-top: 50px;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    row-gap: 0px;
    justify-content: center;
    align-items: center; }
    .servicios-inicio-container .servicios-inicio div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      .servicios-inicio-container .servicios-inicio div img {
        width: 100px; }
      .servicios-inicio-container .servicios-inicio div h3 {
        color: #00346B;
        font-weight: normal;
        font-size: 30px;
        text-align: center;
        font-family: "Lora"; }
      .servicios-inicio-container .servicios-inicio div p {
        color: black;
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        font-family: "Open Sans";
        width: 80%; }
    .servicios-inicio-container .servicios-inicio .cremaciones-inicio {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      align-self: flex-start;
      justify-self: center; }
    .servicios-inicio-container .servicios-inicio .ambulancia-inicio {
      position: relative;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      align-self: flex-start;
      justify-self: center;
      /* Divisor izquierdo */
      /* Divisor derecho */ }
      .servicios-inicio-container .servicios-inicio .ambulancia-inicio::before {
        content: "";
        position: absolute;
        left: -20px;
        /* Mueve la línea a la izquierda */
        top: 10%;
        width: 3.5px;
        /* Grosor de la línea */
        height: 80%;
        /* Se extiende hasta la altura de la sección */
        background-color: #00346B;
        /* Color de la línea */ }
      .servicios-inicio-container .servicios-inicio .ambulancia-inicio::after {
        content: "";
        position: absolute;
        right: -20px;
        /* Mueve la línea a la derecha */
        top: 10%;
        width: 3.5px;
        /* Grosor de la línea */
        height: 80%;
        /* Se extiende hasta la altura de la sección */
        background-color: #00346B;
        /* Color de la línea */ }
    .servicios-inicio-container .servicios-inicio .asesoramientos-inicio {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      align-self: flex-start;
      justify-self: center; }
    .servicios-inicio-container .servicios-inicio .traslados-inicio {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      align-self: flex-start;
      justify-self: center;
      width: 50%; }
    .servicios-inicio-container .servicios-inicio .velatorios-inicio {
      grid-row: 2 / 3;
      grid-column: 2 / 4;
      align-self: flex-start;
      justify-self: center;
      width: 50%; }
    .servicios-inicio-container .servicios-inicio .servicio-border {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      align-self: flex-start;
      justify-self: center;
      height: 70%;
      width: 3.5px;
      background-color: #00346B; }

.historia-inicio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 650px;
  background-image: url(https://images.unsplash.com/photo-1660141361463-9791da1c0bc9?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgba(94, 82, 40, 0.2);
  background-blend-mode: multiply;
  background-position: 25% 62.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .historia-inicio-container .historia-inicio {
    width: 45%;
    height: 69%;
    background-color: #ffffff91;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px; }
    .historia-inicio-container .historia-inicio h2 {
      color: #00346B;
      font-weight: normal;
      font-size: 35px;
      text-align: center;
      font-family: "lora";
      margin: 0;
      position: relative;
      display: inline-block; }
      .historia-inicio-container .historia-inicio h2::before {
        content: "";
        position: absolute;
        bottom: -5.5px;
        /* Ajusta la posición del subrayado */
        left: 33%;
        /* Centra el subrayado */
        width: 35%;
        /* Controla el porcentaje del subrayado */
        height: 3px;
        /* Grosor del subrayado */
        background-color: #00346B;
        /* Color del subrayado */ }
    .historia-inicio-container .historia-inicio p {
      color: black;
      font-weight: normal;
      font-size: 20px;
      text-align: center;
      font-family: "Open Sans";
      width: 75%;
      text-align: justify;
      margin: 0; }
  .historia-inicio-container img {
    width: 22.5%;
    height: 69%;
    object-fit: cover;
    object-position: 65% 20%; }

.contacto-inicio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 400px;
  background-color: #F1F1F1;
  height: 750px; }
  .contacto-inicio-container .ubicacion-mapa-inicio .mapa-inicio {
    width: 500px;
    height: 450px;
    border: solid 1px #00346B;
    border-radius: 30px 30px 0 0;
    display: block; }
  .contacto-inicio-container .ubicacion-mapa-inicio h2, .contacto-inicio-container .ubicacion-mapa-inicio p {
    margin: 0;
    background-color: #00346B;
    padding: 10px 0 10px 0;
    color: white;
    font-weight: normal;
    font-size: 22.5px;
    text-align: center;
    font-family: "Lora"; }
  .contacto-inicio-container .ubicacion-mapa-inicio h2 {
    position: relative; }
    .contacto-inicio-container .ubicacion-mapa-inicio h2::before {
      content: "";
      position: absolute;
      bottom: 0;
      /* Ajusta la posición del subrayado */
      left: 30%;
      /* Centra el subrayado */
      width: 40%;
      /* Controla el porcentaje del subrayado */
      height: 2px;
      /* Grosor del subrayado */
      background-color: #F1F1F1;
      /* Color del subrayado */ }
  .contacto-inicio-container .ubicacion-mapa-inicio p {
    border-radius: 0 0 30px 30px; }
  .contacto-inicio-container .contacto-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px; }
    .contacto-inicio-container .contacto-inicio h2 {
      color: #00346B;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      font-family: "lora";
      margin: 0;
      align-self: center;
      position: relative;
      display: inline-block; }
      .contacto-inicio-container .contacto-inicio h2::before {
        content: "";
        position: absolute;
        bottom: -7px;
        /* Ajusta la posición del subrayado */
        left: 25%;
        /* Centra el subrayado */
        width: 50%;
        /* Controla el porcentaje del subrayado */
        height: 3px;
        /* Grosor del subrayado */
        background-color: #00346B;
        /* Color del subrayado */ }
    .contacto-inicio-container .contacto-inicio .contacto-inicio-item {
      display: grid;
      grid-template-columns: 5rem auto;
      grid-template-rows: auto auto;
      column-gap: 1.875rem;
      row-gap: 0;
      justify-content: left;
      align-items: none; }
      .contacto-inicio-container .contacto-inicio .contacto-inicio-item img {
        width: 90px;
        grid-row: 1/3;
        grid-column: 1/2;
        transition: all 0.3s ease; }
        .contacto-inicio-container .contacto-inicio .contacto-inicio-item img:hover {
          transform: scale(1.1); }
      .contacto-inicio-container .contacto-inicio .contacto-inicio-item h3 {
        color: #00346B;
        font-weight: normal;
        font-size: 30px;
        text-align: center;
        font-family: "Lora";
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: last baseline;
        justify-self: left;
        margin: 0; }
      .contacto-inicio-container .contacto-inicio .contacto-inicio-item a {
        color: black;
        font-weight: normal;
        font-size: 25px;
        text-align: center;
        font-family: "Open Sans";
        text-decoration: none;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        align-self: none;
        justify-self: left; }
        .contacto-inicio-container .contacto-inicio .contacto-inicio-item a:hover {
          text-decoration: underline; }

.formulario-inicio-container {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding-bottom: 1%; }
  .formulario-inicio-container h2 {
    color: #00346B;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    font-family: "Lora";
    text-align: justify;
    width: 65%; }
  .formulario-inicio-container .formulario-inicio {
    width: 65%; }
    .formulario-inicio-container .formulario-inicio .form-mensaje-enviado {
      color: black;
      font-weight: normal;
      font-size: 18px;
      text-align: flex-start;
      font-family: "Lora";
      border: solid 3px #00346B;
      border-radius: 10px;
      width: fit-content;
      margin-top: 25px;
      padding: 10px; }
    .formulario-inicio-container .formulario-inicio .form-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      column-gap: 30px;
      row-gap: 50px;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .formulario-inicio-container .formulario-inicio .form-grid .form-group {
        width: 100%; }
      .formulario-inicio-container .formulario-inicio .form-grid input, .formulario-inicio-container .formulario-inicio .form-grid textarea {
        width: 100%;
        padding: 12.5px;
        border: solid 3px #00346B;
        border-radius: 10px;
        color: black;
        font-weight: normal;
        font-size: 18px;
        text-align: flex-start;
        font-family: "Open Sans"; }
      .formulario-inicio-container .formulario-inicio .form-grid .nombre-form {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: center;
        justify-self: center; }
      .formulario-inicio-container .formulario-inicio .form-grid .email-form {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: center;
        justify-self: center; }
      .formulario-inicio-container .formulario-inicio .form-grid .tel-form {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        align-self: center;
        justify-self: center; }
      .formulario-inicio-container .formulario-inicio .form-grid .mensaje-form {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        align-self: center;
        justify-self: center; }
  .formulario-inicio-container::before, .formulario-inicio-container::after {
    content: "";
    /* Requerido para pseudo-elementos */
    display: block;
    width: 50%;
    /* Ajusta el ancho de las barras */
    height: 3px;
    /* Grosor de la barra */
    background-color: #00346B;
    /* Color de la barra */
    margin: 0 auto;
    /* Centra la barra horizontalmente */ }
  .formulario-inicio-container::before {
    margin-bottom: 20px;
    /* Espaciado con el formulario */ }
  .formulario-inicio-container::after {
    margin: 20px 0 0px 0;
    /* Espaciado con el formulario */ }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 4.375rem 0 6.25rem; }
  .navbar ul {
    display: flex;
    margin: 0;
    padding: 0; }
    .navbar ul li {
      margin: 0 1.875rem; }
    .navbar ul .nav-item {
      color: #00346B;
      font-family: 'Lora', serif;
      font-size: 1.6875rem;
      display: inline-block;
      transition: all 0.3s ease; }
      .navbar ul .nav-item:hover {
        color: #001b38;
        transform: scale(1.1); }
    .navbar ul .nav-item-active {
      color: black; }
  .navbar .whatsapp-navbar-container {
    display: flex;
    align-items: center; }
    .navbar .whatsapp-navbar-container img {
      margin: 1.875rem;
      width: 3.125rem;
      height: auto;
      transition: all 0.3s ease; }
      .navbar .whatsapp-navbar-container img:hover {
        color: #001b38;
        transform: scale(1.1); }

.button-footer, .introduction-information a, .historia-inicio a {
  color: white;
  font-weight: normal;
  font-size: 1.25rem;
  text-align: center;
  font-family: "lora";
  border-radius: .625rem;
  border: 0.25rem solid #F1F1F1;
  padding: .4688rem .9375rem;
  margin-top: 2.1875rem;
  margin-bottom: 2.1875rem;
  transition: all 0.3s ease; }
  .button-footer:hover, .introduction-information a:hover, .historia-inicio a:hover {
    transform: scale(1.1); }

.introduction-information a {
  border-color: #00346B;
  color: #00346B;
  font-weight: 650;
  margin: 0; }

.historia-inicio a {
  border-color: #00346B;
  color: #00346B;
  font-weight: 650;
  margin: 0; }

.form-grid button {
  color: white;
  font-weight: normal;
  font-size: 25px;
  text-align: flex-start;
  font-family: "Lora";
  width: 150px;
  height: 65px;
  background-color: #00346B;
  border: none;
  border-radius: 10px;
  transform-origin: left;
  transition: all 0.3s ease; }
  .form-grid button:hover {
    background-color: #093b70;
    border: solid 5px #00346B;
    transform: scale(1.1); }
