* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

header {
  height: 12.5rem;
  background-color: #F1F1F1;
  display: flex;
  align-items: center; }
  header .header-border {
    height: 100px;
    border-right: 4px solid #00346B; }
  header .general-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 100px 0 100px;
    align-items: center; }
    header .general-container .logo-container {
      width: 7.5rem;
      height: 7.5rem;
      background-color: black; }
    header .general-container .header-text {
      display: flex;
      flex-direction: column;
      align-items: center; }
      header .general-container .header-text p {
        color: #00346B;
        font-weight: normal;
        font-size: 2.5rem;
        text-align: center;
        font-family: "lora";
        margin: 0; }
      header .general-container .header-text .subtitulo {
        font-size: 1.25rem;
        width: 65%; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 4.375rem 0 6.25rem; }
  .navbar ul {
    display: flex;
    margin: 0;
    padding: 0; }
    .navbar ul li {
      margin: 0 1.875rem; }
    .navbar ul .nav-item {
      color: #00346B;
      font-family: 'Lora', serif;
      font-size: 1.875rem;
      display: inline-block;
      transition: all 0.3s ease; }
      .navbar ul .nav-item:hover {
        color: #001b38;
        transform: scale(1.1); }
  .navbar .whatsapp-navbar-container {
    display: flex;
    align-items: center; }
    .navbar .whatsapp-navbar-container img {
      margin: 1.875rem;
      width: 3.125rem;
      height: auto;
      transition: all 0.3s ease; }
      .navbar .whatsapp-navbar-container img:hover {
        color: #001b38;
        transform: scale(1.1); }
