@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

header {
  height: 10.9375rem;
  background-color: #F1F1F1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  border-bottom: solid 1px #00346B; }
  header .header-border {
    height: 6.25rem;
    border-right: 0.25rem solid #00346B; }
  header .general-container {
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    align-items: center; }
    header .general-container .logo-container {
      display: flex;
      justify-content: center;
      align-items: center; }
      header .general-container .logo-container img {
        width: 7.5rem;
        height: 7.5rem;
        transition: all 0.3s ease; }
        header .general-container .logo-container img:hover {
          transform: scale(1.1); }
    header .general-container .header-text {
      display: flex;
      flex-direction: column;
      align-items: center; }
      header .general-container .header-text p {
        color: #00346B;
        font-weight: normal;
        font-size: 2.1875rem;
        text-align: center;
        font-family: "lora";
        margin: 0;
        width: 100%; }
      header .general-container .header-text .subtitulo {
        font-size: 1.25rem;
        width: 75%; }
  header .logo-container-2 {
    display: none; }
  header .header-text-2 {
    display: none; }

footer {
  background-color: #00346B;
  display: flex;
  align-items: center;
  padding: 4% 0 4% 0; }
  footer h2 {
    color: #F1F1F1;
    font-weight: normal;
    font-size: 2.0313rem;
    text-align: center;
    font-family: "lora";
    margin-bottom: 1.6875rem;
    position: relative;
    display: inline-block; }
    footer h2::before {
      content: "";
      position: absolute;
      bottom: -0.25rem;
      /* Ajusta la posición del subrayado */
      left: 21.5%;
      /* Centra el subrayado */
      width: 60%;
      /* Controla el porcentaje del subrayado */
      height: .1875rem;
      /* Grosor del subrayado */
      background-color: #F1F1F1;
      /* Color del subrayado */ }
  footer p {
    color: white;
    font-weight: normal;
    font-size: 1.25rem;
    text-align: center;
    font-family: "Open Sans";
    width: 60%;
    margin-bottom: 1.5625rem; }
  footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    width: 100%; }
    footer .footer-container div {
      width: 33%;
      flex-grow: 1; }
      footer .footer-container div h2 {
        font-size: 25px; }
    footer .footer-container .footer-direccion, footer .footer-container .footer-horarios {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0; }
    footer .footer-container .footer-direccion {
      border-right: 0.25rem solid #F1F1F1;
      border-left: 0.25rem solid #F1F1F1; }
    footer .footer-container .footer-contacto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.875rem; }
      footer .footer-container .footer-contacto .footer-item {
        width: 70%;
        display: grid;
        grid-template-columns: 5rem auto;
        grid-template-rows: auto auto;
        column-gap: 1.875rem;
        row-gap: 0;
        justify-content: left;
        align-items: none; }
        footer .footer-container .footer-contacto .footer-item .img-btn-contacto-footer {
          grid-row: 1/3;
          grid-column: 1/2; }
          footer .footer-container .footer-contacto .footer-item .img-btn-contacto-footer img {
            width: 5rem;
            transition: all 0.3s ease; }
            footer .footer-container .footer-contacto .footer-item .img-btn-contacto-footer img:hover {
              transform: scale(1.1); }
        footer .footer-container .footer-contacto .footer-item h3 {
          color: #F1F1F1;
          font-weight: normal;
          font-size: 1.25rem;
          text-align: center;
          font-family: "Lora";
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          align-self: last baseline;
          justify-self: left;
          margin: 0; }
        footer .footer-container .footer-contacto .footer-item a {
          color: white;
          font-weight: normal;
          font-size: 1.25rem;
          text-align: flex-start;
          font-family: "Open Sans";
          text-decoration: none;
          word-break: break-word;
          grid-row: 2 / 3;
          grid-column: 2 / 3;
          align-self: none;
          justify-self: left; }
          footer .footer-container .footer-contacto .footer-item a:hover {
            text-decoration: underline; }

body::before {
  content: "";
  display: block;
  height: 10.9375rem; }

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 650px;
  background-image: url(../../assets/FloresBackgroundInicio.jpg);
  background-color: rgba(94, 82, 40, 0.2);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .introduction .introduction-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #ffffffbd;
    width: 45%;
    height: 62.5%; }
    .introduction .introduction-information h1 {
      color: #00346B;
      font-weight: normal;
      font-size: 30px;
      text-align: center;
      font-family: "Lora";
      width: 90%;
      position: relative;
      display: inline-block; }
      .introduction .introduction-information h1::before {
        content: "";
        position: absolute;
        bottom: -0.50rem;
        /* Ajusta la posición del subrayado */
        left: 20%;
        /* Centra el subrayado */
        width: 60%;
        /* Controla el porcentaje del subrayado */
        height: 3.5px;
        /* Grosor del subrayado */
        background-color: #00346B;
        /* Color del subrayado */ }
    .introduction .introduction-information p {
      color: black;
      font-weight: normal;
      font-size: 22.5px;
      text-align: center;
      font-family: "Open Sans";
      width: 87%;
      text-align: justify;
      margin: 0; }

.servicios-inicio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1; }
  .servicios-inicio-container h2 {
    color: #00346B;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    font-family: "lora";
    padding-top: 50px;
    position: relative;
    display: inline-block; }
    .servicios-inicio-container h2::before {
      content: "";
      position: absolute;
      bottom: -10.5px;
      /* Ajusta la posición del subrayado */
      left: 35%;
      /* Centra el subrayado */
      width: 30%;
      /* Controla el porcentaje del subrayado */
      height: 3px;
      /* Grosor del subrayado */
      background-color: #00346B;
      /* Color del subrayado */ }
  .servicios-inicio-container .servicios-inicio {
    padding-top: 50px;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    row-gap: 0px;
    justify-content: center;
    align-items: center; }
    .servicios-inicio-container .servicios-inicio div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      .servicios-inicio-container .servicios-inicio div img {
        width: 100px; }
      .servicios-inicio-container .servicios-inicio div h3 {
        color: #00346B;
        font-weight: normal;
        font-size: 30px;
        text-align: center;
        font-family: "Lora"; }
      .servicios-inicio-container .servicios-inicio div p {
        color: black;
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        font-family: "Open Sans";
        width: 80%; }
    .servicios-inicio-container .servicios-inicio .cremaciones-inicio {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      align-self: flex-start;
      justify-self: center; }
    .servicios-inicio-container .servicios-inicio .ambulancia-inicio {
      position: relative;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      align-self: flex-start;
      justify-self: center;
      /* Divisor izquierdo */
      /* Divisor derecho */ }
      .servicios-inicio-container .servicios-inicio .ambulancia-inicio::before {
        content: "";
        position: absolute;
        left: -20px;
        /* Mueve la línea a la izquierda */
        top: 10%;
        width: 3.5px;
        /* Grosor de la línea */
        height: 80%;
        /* Se extiende hasta la altura de la sección */
        background-color: #00346B;
        /* Color de la línea */ }
      .servicios-inicio-container .servicios-inicio .ambulancia-inicio::after {
        content: "";
        position: absolute;
        right: -20px;
        /* Mueve la línea a la derecha */
        top: 10%;
        width: 3.5px;
        /* Grosor de la línea */
        height: 80%;
        /* Se extiende hasta la altura de la sección */
        background-color: #00346B;
        /* Color de la línea */ }
    .servicios-inicio-container .servicios-inicio .asesoramientos-inicio {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      align-self: flex-start;
      justify-self: center; }
    .servicios-inicio-container .servicios-inicio .traslados-inicio {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      align-self: flex-start;
      justify-self: center;
      width: 50%; }
    .servicios-inicio-container .servicios-inicio .velatorios-inicio {
      grid-row: 2 / 3;
      grid-column: 2 / 4;
      align-self: flex-start;
      justify-self: center;
      width: 50%; }
    .servicios-inicio-container .servicios-inicio .servicio-border {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      align-self: flex-start;
      justify-self: center;
      height: 70%;
      width: 3.5px;
      background-color: #00346B; }

.historia-inicio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 650px;
  background-image: url(https://images.unsplash.com/photo-1660141361463-9791da1c0bc9?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgba(94, 82, 40, 0.2);
  background-blend-mode: multiply;
  background-position: 25% 62.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .historia-inicio-container .historia-inicio {
    width: 45%;
    height: 69%;
    background-color: #ffffff91;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px; }
    .historia-inicio-container .historia-inicio h2 {
      color: #00346B;
      font-weight: normal;
      font-size: 35px;
      text-align: center;
      font-family: "lora";
      margin: 0;
      position: relative;
      display: inline-block; }
      .historia-inicio-container .historia-inicio h2::before {
        content: "";
        position: absolute;
        bottom: -5.5px;
        /* Ajusta la posición del subrayado */
        left: 33%;
        /* Centra el subrayado */
        width: 35%;
        /* Controla el porcentaje del subrayado */
        height: 3px;
        /* Grosor del subrayado */
        background-color: #00346B;
        /* Color del subrayado */ }
    .historia-inicio-container .historia-inicio p {
      color: black;
      font-weight: normal;
      font-size: 20px;
      text-align: center;
      font-family: "Open Sans";
      width: 75%;
      text-align: justify;
      margin: 0; }
  .historia-inicio-container img {
    width: 22.5%;
    height: 69%;
    object-fit: cover;
    object-position: 65% 20%; }

.contacto-inicio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20%;
  background-color: #F1F1F1;
  padding: 100px 0 100px 0; }
  .contacto-inicio-container .ubicacion-mapa-inicio .mapa-inicio {
    width: 500px;
    height: 450px;
    border: solid 1px #00346B;
    border-radius: 30px 30px 0 0;
    display: block; }
  .contacto-inicio-container .ubicacion-mapa-inicio h2, .contacto-inicio-container .ubicacion-mapa-inicio p {
    margin: 0;
    background-color: #00346B;
    padding: 10px 0 10px 0;
    color: white;
    font-weight: normal;
    font-size: 22.5px;
    text-align: center;
    font-family: "Lora"; }
  .contacto-inicio-container .ubicacion-mapa-inicio h2 {
    position: relative; }
    .contacto-inicio-container .ubicacion-mapa-inicio h2::before {
      content: "";
      position: absolute;
      bottom: 0;
      /* Ajusta la posición del subrayado */
      left: 30%;
      /* Centra el subrayado */
      width: 40%;
      /* Controla el porcentaje del subrayado */
      height: 2px;
      /* Grosor del subrayado */
      background-color: #F1F1F1;
      /* Color del subrayado */ }
  .contacto-inicio-container .ubicacion-mapa-inicio p {
    border-radius: 0 0 30px 30px; }
  .contacto-inicio-container .contacto-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px; }
    .contacto-inicio-container .contacto-inicio h2 {
      color: #00346B;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      font-family: "lora";
      margin: 0;
      align-self: center;
      position: relative;
      display: inline-block; }
      .contacto-inicio-container .contacto-inicio h2::before {
        content: "";
        position: absolute;
        bottom: -7px;
        /* Ajusta la posición del subrayado */
        left: 25%;
        /* Centra el subrayado */
        width: 50%;
        /* Controla el porcentaje del subrayado */
        height: 3px;
        /* Grosor del subrayado */
        background-color: #00346B;
        /* Color del subrayado */ }
    .contacto-inicio-container .contacto-inicio .contacto-inicio-item {
      display: grid;
      grid-template-columns: 5rem auto;
      grid-template-rows: auto auto;
      column-gap: 1.875rem;
      row-gap: 0;
      justify-content: left;
      align-items: none; }
      .contacto-inicio-container .contacto-inicio .contacto-inicio-item .img-btn-contacto {
        grid-row: 1/3;
        grid-column: 1/2; }
        .contacto-inicio-container .contacto-inicio .contacto-inicio-item .img-btn-contacto img {
          width: 90px;
          transition: all 0.3s ease; }
          .contacto-inicio-container .contacto-inicio .contacto-inicio-item .img-btn-contacto img:hover {
            transform: scale(1.1); }
      .contacto-inicio-container .contacto-inicio .contacto-inicio-item h3 {
        color: #00346B;
        font-weight: normal;
        font-size: 30px;
        text-align: center;
        font-family: "Lora";
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: last baseline;
        justify-self: left;
        margin: 0; }
      .contacto-inicio-container .contacto-inicio .contacto-inicio-item .btn-contacto {
        color: black;
        font-weight: normal;
        font-size: 25px;
        text-align: center;
        font-family: "Open Sans";
        text-decoration: none;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        align-self: none;
        justify-self: left; }
        .contacto-inicio-container .contacto-inicio .contacto-inicio-item .btn-contacto:hover {
          text-decoration: underline; }

.main-nosotros .hero-nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1607851753014-053edf4e1683?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgba(94, 82, 40, 0.2);
  background-blend-mode: multiply;
  background-position-y: 55%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 175px; }
  .main-nosotros .hero-nosotros h1 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f1f1f18c, #f1f1f1c9, #f1f1f1e0, #f1f1f1c9, #f1f1f18c, rgba(255, 255, 255, 0));
    padding: 15px 150px 15px 150px;
    color: #00346B;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    font-family: "Lora"; }

.main-nosotros .nosotros-container {
  padding: 5% 7% 5% 7%;
  background-color: #F1F1F1; }
  .main-nosotros .nosotros-container .nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto 1fr 1fr auto;
    column-gap: 10%;
    row-gap: 5%;
    justify-content: flex-start;
    align-items: auto; }
    .main-nosotros .nosotros-container .nosotros h2 {
      color: #00346B;
      font-weight: normal;
      font-size: 35px;
      text-align: flex-start;
      font-family: "Lora";
      margin-bottom: 20px; }
    .main-nosotros .nosotros-container .nosotros p {
      color: black;
      font-weight: normal;
      font-size: 27px;
      text-align: justify;
      font-family: "Open Sans";
      line-height: 50px;
      margin: 0; }
    .main-nosotros .nosotros-container .nosotros .parrafo-1-nosotros {
      grid-row: 1 / 2;
      grid-column: 1 / 4;
      align-self: flex-start;
      justify-self: flex-start; }
    .main-nosotros .nosotros-container .nosotros .parrafo-2-nosotros {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      align-self: flex-start;
      justify-self: flex-start; }
    .main-nosotros .nosotros-container .nosotros .img-victorio {
      grid-row: 2 / 4;
      grid-column: 3 / 4;
      align-self: flex-start;
      justify-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main-nosotros .nosotros-container .nosotros .img-victorio img {
        width: 350px;
        height: 400px;
        background-color: aqua; }
      .main-nosotros .nosotros-container .nosotros .img-victorio h3 {
        color: #00346B;
        font-weight: normal;
        font-size: 25px;
        text-align: flex-start;
        font-family: "Lora";
        padding: 10px;
        margin: 0; }
    .main-nosotros .nosotros-container .nosotros .parrafo-3-nosotros {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      align-self: flex-start;
      justify-self: flex-start; }
    .main-nosotros .nosotros-container .nosotros .parrafo-4-nosotros {
      grid-row: 4 / 5;
      grid-column: 1 / 4;
      align-self: flex-start;
      justify-self: flex-start; }
    .main-nosotros .nosotros-container .nosotros .img-norberto {
      grid-row: 5 / 6;
      grid-column: 1 / 2;
      align-self: flex-start;
      justify-self: flex-start;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main-nosotros .nosotros-container .nosotros .img-norberto img {
        width: 350px;
        height: 400px;
        background-color: aqua; }
      .main-nosotros .nosotros-container .nosotros .img-norberto h3 {
        color: #00346B;
        font-weight: normal;
        font-size: 25px;
        text-align: flex-start;
        font-family: "Lora";
        padding: 10px;
        margin: 0; }
    .main-nosotros .nosotros-container .nosotros .parrafo-5-nosotros {
      grid-row: 5 / 6;
      grid-column: 2 / 4;
      align-self: flex-start;
      justify-self: flex-start; }
    .main-nosotros .nosotros-container .nosotros .parrafo-6-nosotros {
      grid-row: 6 / 7;
      grid-column: 1 / 4;
      align-self: flex-start;
      justify-self: flex-start; }

.main-servicios .hero-servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/backgroundservicios.jpg);
  background-color: rgba(94, 82, 40, 0.2);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px; }
  .main-servicios .hero-servicios h1 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f1f1f18c, #f1f1f1c9, #f1f1f1e0, #f1f1f1c9, #f1f1f18c, rgba(255, 255, 255, 0));
    padding: .9375rem 9.375rem .9375rem 9.375rem;
    margin: 0;
    color: #00346B;
    font-weight: normal;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Lora";
    white-space: nowrap; }

.main-servicios .servicios-container {
  padding: 5% 10% 5% 10%;
  background-color: #F1F1F1; }
  .main-servicios .servicios-container .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 7%;
    row-gap: 3%;
    justify-content: center;
    align-items: center; }
    .main-servicios .servicios-container .servicios h2 {
      color: #00346B;
      font-weight: normal;
      font-size: 35px;
      text-align: flex-start;
      font-family: "Lora";
      margin-bottom: 1.25rem; }
    .main-servicios .servicios-container .servicios p {
      color: black;
      font-weight: normal;
      font-size: 1.6875rem;
      text-align: justify;
      font-family: "Open Sans";
      line-height: 3.125rem;
      margin: 0; }
    .main-servicios .servicios-container .servicios .parrafo-1-servicios {
      grid-row: 1 / 2;
      grid-column: 1 / 5;
      align-self: center;
      justify-self: flex-start; }
    .main-servicios .servicios-container .servicios .img-velatorios {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      align-self: flex-start;
      justify-self: flex-start; }
      .main-servicios .servicios-container .servicios .img-velatorios .carousel {
        width: 29.6875rem;
        height: 15.625rem; }
        .main-servicios .servicios-container .servicios .img-velatorios .carousel .carousel-inner .carousel-item {
          border: solid 2px #00346B; }
          .main-servicios .servicios-container .servicios .img-velatorios .carousel .carousel-inner .carousel-item img {
            width: 29.6875rem;
            height: 15.625rem; }
    .main-servicios .servicios-container .servicios .parrafo-2-servicios {
      grid-row: 2 / 3;
      grid-column: 2 / 5;
      align-self: center;
      justify-self: flex-end;
      width: 80%; }
    .main-servicios .servicios-container .servicios .parrafo-3-servicios {
      grid-row: 3 / 4;
      grid-column: 1 / 5;
      align-self: center;
      justify-self: flex-start; }
    .main-servicios .servicios-container .servicios .parrafo-4-servicios {
      grid-row: 4 / 5;
      grid-column: 3 / 5;
      align-self: flex-start;
      justify-self: flex-start; }
    .main-servicios .servicios-container .servicios .parrafo-5-servicios {
      grid-row: 4 / 5;
      grid-column: 1 / 3;
      align-self: flex-start;
      justify-self: flex-start; }

.main-contacto {
  background-color: #F1F1F1; }
  .main-contacto .contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
    padding: 4% 2% 4% 2%; }
    .main-contacto .contacto .contacto-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px; }
      .main-contacto .contacto .contacto-item .img-btn-contacto img {
        width: 100px;
        transition: all 0.3s ease; }
        .main-contacto .contacto .contacto-item .img-btn-contacto img:hover {
          transform: scale(1.1); }
      .main-contacto .contacto .contacto-item h3 {
        color: #00346B;
        font-weight: normal;
        font-size: 30px;
        text-align: center;
        font-family: "Lora";
        margin-bottom: 10px; }
      .main-contacto .contacto .contacto-item .btn-contacto {
        color: black;
        font-weight: normal;
        font-size: 25px;
        text-align: center;
        font-family: "Open Sans";
        text-decoration: none; }
        .main-contacto .contacto .contacto-item .btn-contacto:hover {
          text-decoration: underline; }

.navbar {
  display: flex;
  align-items: center;
  width: 55%;
  padding: 0 5% 0 5%; }
  .navbar ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0;
    padding: 0; }
    .navbar ul .nav-item {
      color: #00346B;
      font-family: 'Lora', serif;
      font-size: 1.6875rem;
      display: inline-block;
      transition: all 0.3s ease; }
      .navbar ul .nav-item:hover {
        color: #001b38;
        transform: scale(1.1); }
    .navbar ul .nav-item-active {
      color: black; }
  .navbar .whatsapp-navbar-container {
    display: flex;
    align-items: center; }
    .navbar .whatsapp-navbar-container img {
      margin: 1.875rem;
      width: 3.125rem;
      height: auto;
      transition: all 0.3s ease; }
      .navbar .whatsapp-navbar-container img:hover {
        color: #001b38;
        transform: scale(1.1); }

.navbar-2 {
  display: none; }
  .navbar-2 .btn-hamburguesa {
    display: flex;
    align-items: center; }
    .navbar-2 .btn-hamburguesa .menu-toggle {
      display: none; }
    .navbar-2 .btn-hamburguesa .navbar-toggler {
      padding-right: 1.125rem; }
      .navbar-2 .btn-hamburguesa .navbar-toggler .navbar-toggler-icon {
        background-image: url(../../assets/btn-hamburguesa.png);
        width: 3.125rem;
        height: 3.125rem;
        transition: all 0.3s ease; }
        .navbar-2 .btn-hamburguesa .navbar-toggler .navbar-toggler-icon:hover {
          color: #001b38;
          transform: scale(1.1); }
    .navbar-2 .btn-hamburguesa .offcanvas {
      background-color: #F1F1F1; }
      .navbar-2 .btn-hamburguesa .offcanvas .offcanvas-body ul {
        display: flex;
        flex-direction: column;
        gap: 2.1875rem; }
        .navbar-2 .btn-hamburguesa .offcanvas .offcanvas-body ul .nav-item {
          color: #00346B;
          font-family: 'Lora', serif;
          font-size: 25px;
          display: inline-block;
          transition: all 0.3s ease; }
          .navbar-2 .btn-hamburguesa .offcanvas .offcanvas-body ul .nav-item:hover {
            color: #001b38;
            transform: scale(1.1); }
        .navbar-2 .btn-hamburguesa .offcanvas .offcanvas-body ul .nav-item-active {
          color: black; }
    .navbar-2 .btn-hamburguesa .offcanvas.show {
      position: fixed;
      /* Fija el menú en la pantalla */
      top: 0;
      right: 0;
      height: 100vh;
      /* Para ocupar toda la altura de la pantalla */
      background-color: white;
      transform: translateX(0%) !important;
      /* Se asegura de que no esté desplazado */ }
    .navbar-2 .btn-hamburguesa .offcanvas-backdrop {
      background-color: rgba(0, 0, 0, 0.5) !important;
      /* Ajusta la opacidad del fondo */ }
    .navbar-2 .btn-hamburguesa p {
      margin: 0;
      color: #00346B;
      font-weight: normal;
      font-size: 1.25rem;
      text-align: center;
      font-family: "Lora"; }
  .navbar-2 .whatsapp-navbar-container img {
    width: 3.4375rem;
    height: auto;
    transition: all 0.3s ease; }
    .navbar-2 .whatsapp-navbar-container img:hover {
      color: #001b38;
      transform: scale(1.1); }

.button-footer, .introduction-information a, .historia-inicio a {
  color: white;
  font-weight: normal;
  font-size: 1.25rem;
  text-align: center;
  font-family: "lora";
  border-radius: .625rem;
  border: 0.25rem solid #F1F1F1;
  padding: .4688rem .9375rem;
  margin-top: 2.1875rem;
  margin-bottom: 2.1875rem;
  transition: all 0.3s ease; }
  .button-footer:hover, .introduction-information a:hover, .historia-inicio a:hover {
    transform: scale(1.1); }

.introduction-information a {
  border-color: #00346B;
  color: #00346B;
  font-weight: 650;
  margin: 0; }

.historia-inicio a {
  border-color: #00346B;
  color: #00346B;
  font-weight: 650;
  margin: 0; }

.form-grid button {
  color: white;
  font-weight: normal;
  font-size: 25px;
  text-align: flex-start;
  font-family: "Lora";
  width: 150px;
  height: 65px;
  background-color: #00346B;
  border: none;
  border-radius: 10px;
  transform-origin: left;
  transition: all 0.3s ease; }
  .form-grid button:hover {
    background-color: #093b70;
    border: solid 5px #00346B;
    transform: scale(1.1); }

.formulario-inicio-container {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding-bottom: 1%; }
  .formulario-inicio-container h2 {
    color: #00346B;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    font-family: "Lora";
    text-align: justify;
    width: 65%; }
  .formulario-inicio-container .formulario-inicio {
    width: 65%; }
    .formulario-inicio-container .formulario-inicio .form-mensaje-enviado {
      color: black;
      font-weight: normal;
      font-size: 18px;
      text-align: flex-start;
      font-family: "Lora";
      border: solid 3px #00346B;
      border-radius: 10px;
      width: fit-content;
      margin-top: 25px;
      padding: 10px; }
    .formulario-inicio-container .formulario-inicio .form-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      column-gap: 30px;
      row-gap: 50px;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .formulario-inicio-container .formulario-inicio .form-grid .form-group {
        width: 100%; }
      .formulario-inicio-container .formulario-inicio .form-grid input, .formulario-inicio-container .formulario-inicio .form-grid textarea {
        width: 100%;
        padding: 12.5px;
        border: solid 3px #00346B;
        border-radius: 10px;
        color: black;
        font-weight: normal;
        font-size: 18px;
        text-align: flex-start;
        font-family: "Open Sans"; }
      .formulario-inicio-container .formulario-inicio .form-grid .nombre-form {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: center;
        justify-self: center; }
      .formulario-inicio-container .formulario-inicio .form-grid .email-form {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: center;
        justify-self: center; }
      .formulario-inicio-container .formulario-inicio .form-grid .tel-form {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        align-self: center;
        justify-self: center; }
      .formulario-inicio-container .formulario-inicio .form-grid .mensaje-form {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        align-self: center;
        justify-self: center; }
  .formulario-inicio-container::before, .formulario-inicio-container::after {
    content: "";
    /* Requerido para pseudo-elementos */
    display: block;
    width: 50%;
    /* Ajusta el ancho de las barras */
    height: 3px;
    /* Grosor de la barra */
    background-color: #00346B;
    /* Color de la barra */
    margin: 0 auto;
    /* Centra la barra horizontalmente */ }
  .formulario-inicio-container::before {
    margin-bottom: 20px;
    /* Espaciado con el formulario */ }
  .formulario-inicio-container::after {
    margin: 20px 0 0px 0;
    /* Espaciado con el formulario */ }

@media (max-width: 108.4375rem) {
  .main-contacto .contacto .contacto-item h3 {
    font-size: 1.75rem; }
  .main-contacto .contacto .contacto-item .btn-contacto {
    font-size: 1.375rem; }
  .main-contacto .contacto .contacto-item .img-btn-contacto img {
    width: 5.625rem; }
  .main-servicios .servicios-container .servicios h2 {
    font-size: 2.0625rem; }
  .main-servicios .servicios-container .servicios p {
    font-size: 1.5625rem; } }

@media (max-width: 100rem) {
  header .general-container .header-text .titulo {
    font-size: 2.0313rem; }
  header .general-container .header-text .subtitulo {
    font-size: 1.125rem; }
  header .navbar ul .nav-item {
    font-size: 1.4063rem; }
  header .navbar .whatsapp-navbar-container img {
    width: 2.8125rem; }
  .main-servicios .servicios-container .servicios h2 {
    font-size: 1.9375rem; }
  .main-servicios .servicios-container .servicios p {
    font-size: 1.4375rem; } }

@media (max-width: 95.9375rem) {
  .main-contacto .contacto .contacto-item h3 {
    font-size: 1.625rem; }
  .main-contacto .contacto .contacto-item .btn-contacto {
    font-size: 1.25rem; }
  .main-contacto .contacto .contacto-item .img-btn-contacto img {
    width: 5rem; } }

@media (max-width: 93.75rem) {
  header .general-container {
    padding: 0 4% 0 4%; }
  header .navbar {
    padding: 0 4% 0 4%; }
  footer h2 {
    font-size: 1.875rem; }
  .main-contacto .formulario-inicio-container h2 {
    font-size: 2.375rem; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid button {
    font-size: 1.375rem; }
  .main-servicios .hero-servicios {
    height: 21.875rem; }
    .main-servicios .hero-servicios h1 {
      font-size: 2.375rem; }
  .main-servicios .servicios-container .servicios h2 {
    font-size: 1.875rem; }
  .main-servicios .servicios-container .servicios p {
    font-size: 1.375rem; }
  .main-servicios .servicios-container .servicios .parrafo-2-servicios {
    width: 77%; }
  .main-servicios .servicios-container .servicios .img-velatorios .carousel {
    width: 28.125rem;
    height: 14.0625rem; }
    .main-servicios .servicios-container .servicios .img-velatorios .carousel .carousel-inner .carousel-item {
      border: solid 2px #00346B; }
      .main-servicios .servicios-container .servicios .img-velatorios .carousel .carousel-inner .carousel-item img {
        width: 28.125rem;
        height: 14.0625rem; } }

@media (max-width: 86.875rem) {
  .main-contacto .contacto .contacto-item h3 {
    font-size: 1.5625rem; }
  .main-contacto .contacto .contacto-item .btn-contacto {
    font-size: 1.125rem; }
  .main-contacto .contacto .contacto-item .img-btn-contacto img {
    width: 4.6875rem; }
  .main-contacto .formulario-inicio-container h2 {
    font-size: 2.25rem; }
  .main-servicios .servicios-container .servicios h2 {
    font-size: 1.75rem; }
  .main-servicios .servicios-container .servicios p {
    font-size: 1.25rem; }
  .main-servicios .servicios-container .servicios .img-velatorios .carousel {
    width: 26.5625rem;
    height: 12.5rem; }
    .main-servicios .servicios-container .servicios .img-velatorios .carousel .carousel-inner .carousel-item {
      border: solid 2px #00346B; }
      .main-servicios .servicios-container .servicios .img-velatorios .carousel .carousel-inner .carousel-item img {
        width: 26.5625rem;
        height: 12.5rem; } }

@media (max-width: 81.25rem) {
  header .general-container {
    padding: 0 3% 0 3%; }
    header .general-container .header-text .subtitulo {
      width: 80%; }
  header .navbar {
    padding: 0 3% 0 3%; }
    header .navbar ul .nav-item {
      font-size: 1.4063rem; }
    header .navbar .whatsapp-navbar-container img {
      width: 2.8125rem; }
  footer .footer-container .footer-contacto .footer-item {
    column-gap: 5%; }
    footer .footer-container .footer-contacto .footer-item .img-btn-contacto-footer img {
      width: 4.375rem; }
  .main-contacto .formulario-inicio-container h2 {
    font-size: 2.25rem; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid button {
    font-size: 1.25rem; }
  .main-servicios .hero-servicios h1 {
    font-size: 2.25rem; }
  .main-servicios .servicios-container {
    padding: 65px 70px 65px 70px; }
    .main-servicios .servicios-container .servicios .parrafo-2-servicios {
      width: 75%; } }

@media (max-width: 78.125rem) {
  .main-contacto .contacto .contacto-item h3 {
    font-size: 22px; }
  .main-contacto .contacto .contacto-item .btn-contacto {
    font-size: 16px; }
  .main-contacto .contacto .contacto-item .img-btn-contacto img {
    width: 70px; } }

@media (max-width: 75rem) {
  header .general-container {
    padding: 0 2% 0 3%; }
    header .general-container .logo-container img {
      width: 6.25rem;
      height: 6.25rem; }
    header .general-container .header-text .titulo {
      font-size: 1.8125rem; }
    header .general-container .header-text .subtitulo {
      font-size: 1.125rem; }
  header .navbar {
    justify-content: center;
    padding: 0 3% 0 2%; }
    header .navbar ul {
      width: 80%; }
      header .navbar ul .nav-item {
        font-size: 1.25rem; }
    header .navbar .whatsapp-navbar-container {
      width: 10%; }
      header .navbar .whatsapp-navbar-container img {
        width: 2.5rem; }
  footer .footer-container .footer-contacto .footer-item {
    column-gap: 5%; }
    footer .footer-container .footer-contacto .footer-item p {
      font-size: 1.125rem; }
    footer .footer-container .footer-contacto .footer-item a {
      font-size: 1.125rem; }
  .main-contacto .formulario-inicio-container h2 {
    font-size: 2.125rem; }
  .main-servicios .servicios-container .servicios h2 {
    font-size: 1.625rem; }
  .main-servicios .servicios-container .servicios p {
    font-size: 1.125rem; } }

@media (max-width: 69.375rem) {
  .main-contacto .contacto .contacto-item h3 {
    font-size: 1.25rem; }
  .main-contacto .contacto .contacto-item .btn-contacto {
    font-size: .875rem; }
  .main-contacto .contacto .contacto-item .img-btn-contacto img {
    width: 3.75rem; }
  .main-contacto .formulario-inicio-container h2 {
    font-size: 1.875rem; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid button {
    font-size: 1.1875rem; }
  .main-servicios .hero-servicios {
    height: 20.3125rem; }
    .main-servicios .hero-servicios h1 {
      font-size: 2rem; }
  .main-servicios .servicios-container {
    padding: 3.75rem; }
    .main-servicios .servicios-container .servicios h2 {
      font-size: 1.625rem; }
    .main-servicios .servicios-container .servicios p {
      font-size: 1rem; }
    .main-servicios .servicios-container .servicios .img-velatorios .carousel {
      width: 25rem; }
      .main-servicios .servicios-container .servicios .img-velatorios .carousel .carousel-inner .carousel-item {
        border: solid 0.125rem #00346B; }
        .main-servicios .servicios-container .servicios .img-velatorios .carousel .carousel-inner .carousel-item img {
          width: 25rem; } }

@media (max-width: 64.1875rem) {
  .main-servicios .servicios-container {
    padding: 3.125rem; } }

@media (max-width: 64rem) {
  body::before {
    content: "";
    display: block;
    height: 9.375rem; }
  header {
    height: 9.375rem; }
    header .general-container {
      width: 55%;
      padding: 0 5% 0 5%; }
      header .general-container .header-text .titulo {
        font-size: 1.875rem; }
    header .navbar {
      display: none; }
    header .navbar-2 {
      width: 45%;
      padding: 0 5% 0 5%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 0; }
  footer {
    padding: 5% 0 12% 0; }
    footer .footer-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      column-gap: 0;
      row-gap: 25%;
      justify-content: space-around;
      align-items: flex-start; }
      footer .footer-container div {
        width: 100%; }
      footer .footer-container .footer-contacto {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 0;
        width: 90%;
        position: relative; }
        footer .footer-container .footer-contacto .footer-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 7.5px;
          width: 15%; }
          footer .footer-container .footer-contacto .footer-item h3 {
            align-self: center; }
        footer .footer-container .footer-contacto::before {
          content: "";
          position: absolute;
          bottom: -40%;
          /* Ajusta la posición del subrayado */
          left: 21.5%;
          /* Centra el subrayado */
          width: 60%;
          /* Controla el porcentaje del subrayado */
          height: .1875rem;
          /* Grosor del subrayado */
          background-color: #F1F1F1;
          /* Color del subrayado */ }
      footer .footer-container .footer-direccion {
        border: none; }
      footer .footer-container p {
        font-size: 1.125rem;
        margin-bottom: 1.25rem; }
      footer .footer-container .button-footer, footer .footer-container .introduction-information a, .introduction-information footer .footer-container a, footer .footer-container .historia-inicio a, .historia-inicio footer .footer-container a {
        margin: 1.25rem; }
  .main-contacto .contacto {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    column-gap: 20%;
    row-gap: 50px;
    justify-content: center;
    align-items: center; }
    .main-contacto .contacto .contacto-item h3 {
      font-size: 22px; }
    .main-contacto .contacto .contacto-item .btn-contacto {
      font-size: 18px; }
    .main-contacto .contacto .contacto-item .img-btn-contacto img {
      width: 70px; }
  .main-contacto .formulario-inicio-container h2 {
    font-size: 1.75rem; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid button {
    width: 7.8125rem;
    height: 3.75rem; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid .form-group input, .main-contacto .formulario-inicio-container .formulario-inicio .form-grid .form-group textarea {
    font-size: 1rem; }
  .main-servicios .servicios-container {
    padding: 3.75rem 5rem 3.75rem 5rem; }
    .main-servicios .servicios-container .servicios {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.125rem; }
      .main-servicios .servicios-container .servicios .parrafo-1-servicios, .main-servicios .servicios-container .servicios .parrafo-2-servicios, .main-servicios .servicios-container .servicios .parrafo-3-servicios, .main-servicios .servicios-container .servicios .parrafo-4-servicios, .main-servicios .servicios-container .servicios .parrafo-5-servicios {
        width: 100%; }
      .main-servicios .servicios-container .servicios .img-velatorios {
        align-self: center; }
        .main-servicios .servicios-container .servicios .img-velatorios .carousel {
          width: 31.25rem;
          height: 15.625rem; }
          .main-servicios .servicios-container .servicios .img-velatorios .carousel .carousel-inner .carousel-item img {
            width: 31.25rem;
            height: 15.625rem; } }

@media (max-width: 60.3125rem) {
  header .general-container {
    padding: 0 2% 0 3%; }
    header .general-container .header-text .titulo {
      font-size: 1.625rem; }
  header .navbar-2 {
    padding: 0 3% 0 2%; } }

@media (max-width: 59.625rem) {
  footer .footer-container .footer-contacto::before {
    bottom: -27%;
    /* Ajusta la posición del subrayado */ } }

@media (max-width: 56.25rem) {
  .main-contacto .formulario-inicio-container h2 {
    font-size: 1.625rem; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid button {
    font-size: 1.125rem;
    width: 7.1875rem;
    height: 3.4375rem; } }

@media (max-width: 54.0625rem) {
  header .general-container {
    width: 60%;
    padding: 0 4% 0 4%; }
    header .general-container .logo-container img {
      width: 5.625rem;
      height: 5.625rem; }
    header .general-container .header-text .titulo {
      font-size: 1.75rem; }
    header .general-container .header-text .subtitulo {
      font-size: 1.125rem; }
  header .navbar-2 {
    width: 40%;
    padding: 0 4% 0 4%; } }

@media (max-width: 50rem) {
  .main-contacto .formulario-inicio-container h2 {
    font-size: 1.5rem; } }

@media (max-width: 48rem) {
  header .general-container {
    padding: 0 3% 0 4%; }
    header .general-container .header-text .titulo {
      font-size: 1.625rem; }
    header .general-container .header-text .subtitulo {
      font-size: 1rem; }
  header .navbar-2 .btn-hamburguesa .navbar-toggle-icon {
    width: 2.5rem;
    height: 2.5rem; }
  header .navbar-2 .btn-hamburguesa p {
    font-size: 1.125rem; }
  header .navbar-2 .whatsapp-navbar-container img {
    width: 3.125rem; }
  footer {
    padding: 5% 0 17% 0; } }

@media (max-width: 47.9375rem) {
  body::before {
    content: "";
    display: block;
    height: 15.625rem; }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7.5rem;
    column-gap: 0;
    row-gap: 0;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: absolute; }
    header .header-text-2 {
      grid-row: 1 / 2;
      grid-column: 1 / 4;
      align-self: center;
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2% 0 2% 0;
      width: 100%;
      border-bottom: solid 2px #00346B; }
      header .header-text-2 p {
        color: #00346B;
        font-weight: normal;
        font-size: 1.875rem;
        text-align: center;
        font-family: "lora";
        margin: 0;
        width: 100%; }
      header .header-text-2 .subtitulo {
        font-size: 1.25rem;
        width: 35%; }
    header .logo-container-2 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      align-self: center;
      justify-self: center;
      display: inline-block;
      background-color: #F1F1F1;
      border-bottom: solid 0.0625rem #00346B;
      height: 7.5rem;
      padding: .625rem 100% .625rem 100%;
      position: fixed;
      transition: transform 0.3s ease;
      /* Transición para el efecto de deslizamiento */ }
    header .navbar-2 {
      grid-row: 2 / 3;
      grid-column: 2 / 4;
      align-self: center;
      justify-self: center;
      justify-content: space-around;
      padding: 0;
      width: 66%;
      position: fixed;
      transition: transform 0.3s ease;
      /* Transición para el efecto de deslizamiento */ }
      header .navbar-2 .btn-hamburguesa .navbar-toggler .navbar-toggler-icon {
        width: 3.4375rem;
        height: 3.4375rem; }
      header .navbar-2 .btn-hamburguesa .offcanvas {
        width: 100%; }
      header .navbar-2 .whatsapp-navbar-container a img {
        width: 4.0625rem; }
    header .general-container, header .header-border {
      display: none; }
  footer {
    padding: 3.125rem 0 4.6875rem 0; }
    footer .footer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 75px; }
      footer .footer-container div {
        width: 80%;
        position: relative; }
        footer .footer-container div::before {
          content: "";
          position: absolute;
          bottom: -15%;
          /* Ajusta la posición del subrayado */
          left: 21.5%;
          /* Centra el subrayado */
          width: 60%;
          /* Controla el porcentaje del subrayado */
          height: .1875rem;
          /* Grosor del subrayado */
          background-color: #F1F1F1;
          /* Color del subrayado */ }
      footer .footer-container .footer-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.875rem; }
        footer .footer-container .footer-contacto .footer-item {
          display: grid;
          grid-template-columns: 5rem auto;
          grid-template-rows: auto auto;
          column-gap: 1.875rem;
          row-gap: 0;
          justify-content: left;
          align-items: none;
          width: 90%; }
          footer .footer-container .footer-contacto .footer-item .img-btn-contacto-footer {
            grid-row: 1/3;
            grid-column: 1/2; }
          footer .footer-container .footer-contacto .footer-item h3 {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            align-self: last baseline;
            justify-self: left; }
          footer .footer-container .footer-contacto .footer-item a {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            align-self: none;
            justify-self: left; }
          footer .footer-container .footer-contacto .footer-item::before {
            display: none; }
        footer .footer-container .footer-contacto::before {
          bottom: -15%;
          /* Ajusta la posición del subrayado */
          left: 24.5%;
          /* Centra el subrayado */
          width: 53.4%;
          /* Controla el porcentaje del subrayado */
          height: .1875rem;
          /* Grosor del subrayado */
          background-color: #F1F1F1;
          /* Color del subrayado */ }
  .main-contacto .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 45px 0 30px 0; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px; }
  .main-servicios .hero-servicios h1 {
    font-size: 1.875rem;
    padding: .9375rem 6.25rem .9375rem 6.25rem; }
  .main-servicios .servicios-container {
    padding: 2.5rem 3.125rem 2.5rem 3.125rem; }
    .main-servicios .servicios-container .servicios .img-velatorios .carousel {
      width: 100%;
      height: auto; }
      .main-servicios .servicios-container .servicios .img-velatorios .carousel .carousel-inner .carousel-item img {
        width: 100%;
        height: auto; }
  /* Cuando se haga scroll, mueve los elementos */
  body.scrolled header .logo-container-2,
  body.scrolled header .navbar-2 {
    transform: translateY(-8.6037rem);
    /* Mueve hacia abajo los elementos */ } }

@media (max-width: 47.5rem) {
  header .header-text-2 .subtitulo {
    width: 37%; } }

@media (max-width: 45rem) {
  header .header-text-2 .subtitulo {
    width: 39%; } }

@media (max-width: 43.75rem) {
  .main-contacto .formulario-inicio-container h2 {
    font-size: 20px; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid button {
    height: 3.125rem; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid .form-group input, .main-contacto .formulario-inicio-container .formulario-inicio .form-grid .form-group textarea {
    font-size: .875rem; } }

@media (max-width: 42.625rem) {
  header .header-text-2 .subtitulo {
    width: 41%; } }

@media (max-width: 40.5rem) {
  header .header-text-2 .subtitulo {
    width: 43%; }
  header .navbar-2 .btn-hamburguesa .offcanvas .offcanvas-body ul {
    gap: 1.5625rem; }
    header .navbar-2 .btn-hamburguesa .offcanvas .offcanvas-body ul .nav-item {
      font-size: 1.5rem; }
  .main-servicios .hero-servicios h1 {
    font-size: 1.75rem;
    padding: .9375rem 4.6875rem .9375rem 4.6875rem; } }

@media (max-width: 38.625rem) {
  header .header-text-2 .subtitulo {
    width: 45.5%; } }

@media (max-width: 37.5rem) {
  body::before {
    content: "";
    display: block;
    height: 15rem; }
  .main-contacto .contacto {
    padding-top: 3.125rem; }
    .main-contacto .contacto .contacto-item h3 {
      font-size: 1.25rem; }
    .main-contacto .contacto .contacto-item .btn-contacto {
      font-size: 1rem; }
    .main-contacto .contacto .contacto-item .img-btn-contacto img {
      width: 4.375rem; }
  .main-contacto .formulario-inicio-container h2 {
    font-size: 1.125rem; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid button {
    height: 2.8125rem;
    font-size: 1rem; }
  .main-contacto .formulario-inicio-container .formulario-inicio .form-grid .form-group input, .main-contacto .formulario-inicio-container .formulario-inicio .form-grid .form-group textarea {
    font-size: .875rem; }
  .main-servicios .hero-servicios {
    height: 18.75rem; }
    .main-servicios .hero-servicios h1 {
      font-size: 1.625rem;
      padding: .9375rem 3.125rem .9375rem 3.125rem; }
  .main-servicios .servicios-container .servicios h2 {
    font-size: 1.5rem; } }

@media (max-width: 36.5rem) {
  header .header-text-2 .subtitulo {
    width: 48%; } }

@media (max-width: 34.625rem) {
  header .header-text-2 .subtitulo {
    width: 50%; } }

@media (max-width: 33.25rem) {
  header .header-text-2 .subtitulo {
    width: 52.5%; } }

@media (max-width: 506px) {
  body::before {
    content: "";
    display: block;
    height: 13.4375rem; }
  header .header-text-2 .titulo {
    font-size: 1.625rem; }
  header .header-text-2 .subtitulo {
    font-size: 1.125rem;
    width: 50%; }
  footer .footer-container .footer-contacto .footer-item {
    column-gap: .625rem; }
    footer .footer-container .footer-contacto .footer-item .img-btn-contacto-footer img {
      width: 4.0625rem; }
    footer .footer-container .footer-contacto .footer-item a {
      font-size: 1rem; }
  footer .footer-container .footer-direccion h2, footer .footer-container .footer-horarios h2 {
    font-size: 1.375rem; }
  footer .footer-container .footer-direccion p, footer .footer-container .footer-horarios p {
    font-size: 1rem; }
  footer .footer-container .footer-direccion a, footer .footer-container .footer-horarios a {
    font-size: 1.125rem; }
  /* Cuando se haga scroll, mueve los elementos */
  body.scrolled header .logo-container-2,
  body.scrolled header .navbar-2 {
    transform: translateY(-7.2012rem);
    /* Mueve hacia abajo los elementos */ } }

@media (max-width: 29.875rem) {
  header .header-text-2 .subtitulo {
    width: 53%; }
  .main-servicios .hero-servicios h1 {
    font-size: 1.5rem;
    white-space: inherit; }
  .main-servicios .servicios-container {
    padding: 2.5rem; }
    .main-servicios .servicios-container .servicios h2 {
      font-size: 1.375rem; } }

@media (max-width: 28.1875rem) {
  header .header-text-2 .subtitulo {
    width: 56%; } }

@media (max-width: 506px) {
  header .logo-container-2 {
    display: flex;
    align-items: center; }
    header .logo-container-2 img {
      height: 5.3125rem;
      width: 5.3125rem; }
  header .navbar-2 .btn-hamburguesa .navbar-toggler {
    padding-right: .9375rem; }
    header .navbar-2 .btn-hamburguesa .navbar-toggler .navbar-toggler-icon {
      width: 3.125rem;
      height: 3.125rem; }
  header .navbar-2 .btn-hamburguesa p {
    font-size: 1rem; }
  header .navbar-2 .whatsapp-navbar-container a img {
    width: 3.4375rem; }
  footer .footer-container div {
    width: 100%; }
  footer .footer-container .footer-contacto .footer-item {
    column-gap: 0; }
    footer .footer-container .footer-contacto .footer-item .img-btn-contacto-footer img {
      width: 3.75rem; } }

@media (max-width: 26.9375rem) {
  header .header-text-2 .subtitulo {
    width: 58.5%; }
  header .navbar-2 .btn-hamburguesa .offcanvas .offcanvas-body ul {
    padding-left: 1.25rem;
    gap: 1.4375rem; }
    header .navbar-2 .btn-hamburguesa .offcanvas .offcanvas-body ul .nav-item {
      font-size: 1.375rem; } }

@media (max-width: 25.875rem) {
  header .header-text-2 .subtitulo {
    width: 61%; }
  footer .footer-container .footer-contacto .footer-item {
    width: 100%; }
    footer .footer-container .footer-contacto .footer-item .img-btn-contacto-footer img {
      width: 3.75rem; } }

@media (max-width: 24.5rem) {
  header .header-text-2 .subtitulo {
    width: 64.5%; }
  header .logo-container-2 {
    display: flex;
    align-items: center; }
    header .logo-container-2 img {
      height: 5rem;
      width: 5rem; }
  header .navbar-2 .btn-hamburguesa .navbar-toggler {
    padding-right: .625rem; }
    header .navbar-2 .btn-hamburguesa .navbar-toggler .navbar-toggler-icon {
      width: 2.8125rem;
      height: 2.8125rem; }
  header .navbar-2 .whatsapp-navbar-container a img {
    width: 3.125rem; }
  footer .footer-container .footer-contacto .footer-item a {
    font-size: .9375rem; }
  footer .footer-container .footer-direccion p, footer .footer-container .footer-horarios p {
    font-size: .9375rem; }
  .main-servicios .hero-servicios h1 {
    font-size: 1.375rem; }
  .main-servicios .servicios-container .servicios h2 {
    font-size: 1.25rem; }
  .main-servicios .servicios-container .servicios p {
    font-size: .9375rem; } }

@media (max-width: 23.1875rem) {
  header .header-text-2 .subtitulo {
    width: 68%; } }

@media (max-width: 22.125rem) {
  header .header-text-2 .subtitulo {
    width: 71.5%; }
  footer .footer-container .footer-contacto .footer-item {
    grid-template-columns: auto auto;
    column-gap: .9375rem;
    width: 100%; }
    footer .footer-container .footer-contacto .footer-item .img-btn-contacto-footer img {
      width: 3.4375rem; } }

@media (max-width: 21.4375rem) {
  header .navbar-2 .btn-hamburguesa .offcanvas .offcanvas-body ul .nav-item {
    font-size: 1.25rem; }
  footer .footer-container .footer-contacto .footer-item a {
    font-size: .875rem; }
  footer .footer-container .footer-contacto .img-btn-contacto-footer img {
    width: 3.4375rem; }
  footer .footer-container .footer-direccion h2, footer .footer-container .footer-horarios h2 {
    font-size: 1.25rem; }
  footer .footer-container .footer-direccion p, footer .footer-container .footer-horarios p {
    font-size: .875rem; } }

@media (max-width: 20.875rem) {
  header .header-text-2 .subtitulo {
    width: 75.5%; }
  header .logo-container-2 img {
    height: 4.375rem;
    width: 4.375rem; }
  header .navbar-2 .btn-hamburguesa .navbar-toggler {
    padding-right: .625rem; }
    header .navbar-2 .btn-hamburguesa .navbar-toggler .navbar-toggler-icon {
      width: 2.5rem;
      height: 2.5rem; }
  header .navbar-2 .whatsapp-navbar-container a img {
    width: 2.8125rem; } }

@media (max-width: 20.3125rem) {
  header .header-text-2 .subtitulo {
    width: 78%; }
  footer .footer-container .footer-contacto .footer-item {
    column-gap: .625rem; }
  footer .footer-container .footer-direccion a, footer .footer-container .footer-horarios a {
    font-size: 1rem; } }
