@media (max-width: 69.375rem){

// Main Contacto
    .main-contacto, .main-inicio{
        .contacto{
            .contacto-item{
                h3{
                    font-size: 1.25rem;
                }
                .btn-contacto{
                    font-size: .875rem;
                }
                .img-btn-contacto{
                    img{
                        width: 3.75rem;
                    }
                }
            }
        }
        .formulario-inicio-container{
            h2{
                font-size: 1.875rem;
            }
            .formulario-inicio{
                .form-grid{
                    button{
                        font-size: 1.1875rem;
                    }
                }
            }
        }
    }

    // Main Servicios
    .main-servicios{
        .hero-servicios{
            height: 20.3125rem;
            h1{
                font-size: 2rem;
            }
        }
        .servicios-container{
            padding: 3.75rem;
            .servicios{
                p{
                    font-size: 1rem
                }
                .img-velatorios{
                    .carousel{
                        width: 25rem;
                        .carousel-inner{
                            .carousel-item{
                                border: solid .125rem $colorPrincipal1;
                                img{
                                    width: 25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

// Main Nosotros
    .main-nosotros{
        .hero-nosotros{
            height: 20.3125rem;
            h1{
                font-size: 2rem;
            }
        }
        .nosotros-container{
            padding: 3.75rem;
            .nosotros{
                p{
                    font-size: 1rem
                }
                .img-norberto, .img-victorio{
                    img{
                        width: 15.625rem;
                        height: 18.75rem;
                    }
                    h3{
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }  

// Main Inicio
    .main-inicio{
        .servicios-inicio-container{
            h2{
                font-size: 1.875rem;
            }
            .servicios-inicio{
                div{
                    h3{
                        font-size: 1.25rem;
                    }
                    p{
                        font-size: 1.0625rem;
                    }
                }
            }
        }
        .historia-inicio-container{
            gap: 1%;
            .historia-inicio{
                h2{
                    font-size: 1.875rem;
                }
                P{
                    font-size: 1.0625rem;
                }
                a{
                    font-size: 1.0625rem;
                }
            }
        }
        .contacto-inicio-container{
            gap: 8.5%;
            .ubicacion-mapa-inicio{
                h2, p{
                    font-size: 1.125rem;
                }
            }
            .contacto-inicio{
                h2{
                    font-size: 1.875rem;  
                }
                .contacto-inicio-item{
                    column-gap: .5rem;
                    h3{
                        font-size: 1.25rem;
                    }
                    a{
                        font-size: 1.125rem;
                    }
                    img{
                        width: 3.75rem;
                    }
                }
            }
        }
    }
}
