@media (max-width: 69.375rem){

// Main Contacto
    .main-contacto{
        .contacto{
            .contacto-item{
                h3{
                    font-size: 1.25rem;
                }
                .btn-contacto{
                    font-size: .875rem;
                }
                .img-btn-contacto{
                    img{
                        width: 3.75rem;
                    }
                }
            }
        }
        .formulario-inicio-container{
            h2{
                font-size: 1.875rem;
            }
            .formulario-inicio{
                .form-grid{
                    button{
                        font-size: 1.1875rem;
                    }
                }
            }
        }
    }

    // Main Servicios
    .main-servicios{
        .hero-servicios{
            height: 20.3125rem;
            h1{
                font-size: 2rem;
            }
        }
        .servicios-container{
            padding: 3.75rem;
            .servicios{
                h2{
                    font-size: 1.625rem;
                }
                p{
                    font-size: 1rem
                }
                .img-velatorios{
                    .carousel{
                        width: 25rem;
                        .carousel-inner{
                            .carousel-item{
                                border: solid .125rem $colorPrincipal1;
                                img{
                                    width: 25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
