@media (max-width:  75rem){
    header{
        .general-container{
            padding: 0 2% 0 3%;
            .logo-container{
                img{
                    width: 6.25rem;
                    height: 6.25rem;
                }
            }
            .header-text{
                .titulo{
                    font-size: 1.8125rem
                }
                .subtitulo{
                    font-size: 1.125rem
                }
            }
        }
        .navbar{
            justify-content: center;
            padding: 0 3% 0 2%;
            ul{
                width: 80%;
                .nav-item{
                    font-size: 1.25rem;
                }
            }
            .whatsapp-navbar-container{
                width: 10%;
                img{
                    width: 2.5rem;
                }
            }
        }
    }

    footer{
        .footer-container{
            .footer-contacto{
                .footer-item{
                    column-gap: 5%;
                    p{
                        font-size: 1.125rem;
                    }
                    a{
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }

// Main contacto
    .main-contacto{
        .formulario-inicio-container{
            h2{
                font-size: 2.125rem;
            }
        }
    }
}