@media (max-width: 78.125rem){

// Main Contacto
    .main-contacto{
        .contacto{
            .contacto-item{
                h3{
                    font-size: 22px;
                }
                .btn-contacto{
                    font-size: 16px;
                }
                .img-btn-contacto{
                    img{
                        width: 70px;
                    }
                }
            }
        }
    }
}