@media (max-width: 78.125rem){

// Main Contacto
    .main-contacto{
        .contacto{
            .contacto-item{
                h3{
                    font-size: 1.375rem;
                }
                .btn-contacto{
                    font-size: 1rem;
                }
                .img-btn-contacto{
                    img{
                        width: 4.375rem;
                    }
                }
            }
        }
    }
}