@media (max-width:  81.25rem){
    header{
        .general-container{
            padding: 0 3% 0 3%;
            .header-text{
                .subtitulo{
                    width: 80%;
                }
            }
        }
        .navbar{
            padding: 0 3% 0 3%;
            ul{
                .nav-item{
                    font-size: 1.4063rem;
                }
            }
            .whatsapp-navbar-container{
                img{
                    width: 2.8125rem;
                }
            }
        }
    }

    footer{
        .footer-container{
            .footer-contacto{
                .footer-item{
                    column-gap: 5%;
                    .img-btn-contacto-footer{
                        img{
                            width: 4.375rem;
                        }
                    }
                }
            }
        }
    }





    main{
        display: none;
    }
}
