@media (max-width:  81.25rem){
    header{
        .general-container{
            padding: 0 3% 0 3%;
            .header-text{
                .subtitulo{
                    width: 80%;
                }
            }
        }
        .navbar{
            padding: 0 3% 0 3%;
            ul{
                .nav-item{
                    font-size: 1.4063rem;
                }
            }
            .whatsapp-navbar-container{
                img{
                    width: 2.8125rem;
                }
            }
        }
    }

    footer{
        .footer-container{
            .footer-contacto{
                .footer-item{
                    column-gap: 5%;
                    .img-btn-contacto-footer{
                        img{
                            width: 4.375rem;
                        }
                    }
                }
            }
        }
    }

// Main Contacto
    .main-contacto{
        .formulario-inicio-container{
            h2{
                font-size: 2.25rem;
            }
            .formulario-inicio{
                .form-grid{
                    button{
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

// Main Servicios
    .main-servicios{
        .hero-servicios{
            h1{
                font-size: 2.25rem;
            }
        }
        .servicios-container{
            padding: 4.0625rem 4.375rem 4.0625rem 4.375rem;
            .servicios{
                .parrafo-2-servicios{
                    width: 75%;
                }
            }
        }
    }

// Main Nosotros
    .main-nosotros{
        .hero-nosotros{
            h1{
                font-size: 2.25rem;
            }
        }
        .nosotros-container{
            padding: 4.0625rem 5rem 4.0625rem 5rem;
        }
    }   

// Main Inicio
    .main-inicio{
        .servicios-inicio-container{
            h2{
                font-size: 2.125rem;
            }
            .servicios-inicio{
                div{
                    h3{
                        font-size: 1.5rem;
                    }
                    p{
                        font-size: 1.125rem;
                        width: 92%;
                    }
                }
            }
        }
        .historia-inicio-container{
            .historia-inicio{
                h2{
                    font-size: 2rem;
                }
                P{
                    font-size: 1.125rem;
                    width: 80% ;
                }
                a{
                    font-size: 1.125rem;
                }
            }
        }
        .contacto-inicio-container{
            gap:12%;
            .contacto-inicio{
                h2{
                    font-size: 2.125rem;  
                }
                .contacto-inicio-item{
                    h3{
                        font-size: 1.5rem;
                    }
                    a{
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}
