@media (max-width: 86.875rem){

// Main Contacto
    .main-contacto{
        .contacto{
            .contacto-item{
                h3{
                    font-size: 1.5625rem;
                }
                .btn-contacto{
                    font-size: 1.125rem;
                }
                .img-btn-contacto{
                    img{
                        width: 4.6875rem;
                    }
                }
            }
        }
        .formulario-inicio-container{
            h2{
                font-size: 2.25rem;
            }
        }
    }

// Main Servicios
    .main-servicios{
        .servicios-container{
            .servicios{
                h2{
                    font-size: 1.75rem;
                }
                p{
                    font-size: 1.25rem;
                }
                .img-velatorios{
                    .carousel{
                        width: 26.5625rem;
                        height: 12.5rem;
                        .carousel-inner{
                            .carousel-item{
                                img{
                                    width: 26.5625rem;
                                    height: 12.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

// Main Nosotros
    .main-nosotros{
        .nosotros-container{
            .nosotros{
                row-gap: 4%;
                h2{
                    font-size: 1.75rem;
                }
                p{
                    font-size: 1.25rem;
                }
            }
        }
    }   
    
// Main Inicio
    .main-inicio{
        .introduction{
            .introduction-information{
                h1{
                    font-size: 1.5625rem;
                }
                p{
                    font-size: 1.125rem;
                }
            }
        }
        .servicios-inicio-container{
            h2{
                font-size: 2.25rem;
            }
            .servicios-inicio{
                div{
                    h3{
                        font-size: 1.625rem;
                    }
                    p{
                        font-size: 1.1875rem;
                    }
                }
            }
        }
    }
}