@media (max-width: 86.875rem){

    // Main Contacto
        .main-contacto{
            .contacto{
                .contacto-item{
                    h3{
                        font-size: 1.5625rem;
                    }
                    .btn-contacto{
                        font-size: 1.125rem;
                    }
                    .img-btn-contacto{
                        img{
                            width: 4.6875rem;
                        }
                    }
                }
            }
            .formulario-inicio-container{
                h2{
                    font-size: 2.25rem;
                }
            }
        }
    }