@media (max-width:  93.75rem) {
    header{
        .general-container{
            padding: 0 4% 0 4%;
        }
        .navbar{
            padding: 0 4% 0 4%;

        }
    }

    footer{
        h2{
            font-size: 30px;
        }

    }
}