@media (max-width: 95.9375rem){

// Main Contacto
    .main-contacto{
        .contacto{
            .contacto-item{
                h3{
                    font-size: 1.625rem;
                }
                .btn-contacto{
                    font-size: 1.25rem;
                }
                .img-btn-contacto{
                    img{
                        width: 5rem;
                    }
                }
            }
        }
    }
}