@media (max-width:  100rem){
    header{
        .general-container{
            .header-text{
                .titulo{
                    font-size: 2.0313rem;
                }
                .subtitulo{
                    font-size: 1.125rem;
                }
            }
        }
        .navbar{
            ul{
                .nav-item{
                    font-size: 1.4063rem;
                }
            }
            .whatsapp-navbar-container{
                img{
                    width: 2.8125rem;
                }
            }
        }
    }

// Main Servicios
    .main-servicios{
        .servicios-container{
            .servicios{
                    h2{
                        font-size: 1.9375rem;
                    }
                    p{
                        font-size: 1.4375rem;
                    }
            }
        }
    }

// Main Nosotros
    .main-nosotros{
        .nosotros-container{
            .nosotros{
                h2{
                    font-size: 1.9375rem;
                }
                p{
                    font-size: 1.4375rem;
                }
            }
        }
    }

// Main Inicio
    .main-inicio{
        .introduction{
            .introduction-information{
                h1{
                    font-size: 1.75rem;
                }
                p{
                    font-size: 1.25rem;
                }
            }
        }
    }
}
