@media (max-width: 108.4375rem){

// Main Contacto
    .main-contacto{
        .contacto{
            .contacto-item{
                h3{
                    font-size: 1.75rem;
                }
                .btn-contacto{
                    font-size: 1.375rem;
                }
                .img-btn-contacto{
                    img{
                        width: 5.625rem;
                    }
                }
            }
        }
    }

// Main Servicios
    .main-servicios{
        .servicios-container{
            .servicios{
                    h2{
                        font-size: 2.0625rem;
                    }
                    p{
                        font-size: 1.5625rem;
                    }
            }
        }
    }
}

