@media (max-width: 20.875rem){
    header{
        .header-text-2{
            .subtitulo{
                width: 75.5%;
            }
        }
        .logo-container-2 {
            img{
                height: 4.375rem;
                width: 4.375rem;
            }
        }
        .navbar-2{
            .btn-hamburguesa{
                .navbar-toggler{
                    padding-right: .625rem;
                    .navbar-toggler-icon{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
            }
            .whatsapp-navbar-container{
                a{
                    img{
                        width: 2.8125rem;
                    }
                }
            }
            
        }
    }
}
