@media (max-width: 22.125rem){
    header{
        .header-text-2{
            .subtitulo{
                width: 71.5%;
            }
        }
    }

    footer{
        .footer-container{
            .footer-contacto{
                .footer-item{
                    grid-template-columns: auto auto;
                    column-gap: .9375rem;
                    width: 100%;
                    .img-btn-contacto-footer{
                        img{
                            width: 3.4375rem;
                        }
                    }
                }
            }
        }  
    }

// Main Inicio
    .main-inicio{
        .contacto-inicio-container{
            .ubicacion-mapa-inicio{
                .mapa-inicio{
                    width: 18.75rem;
                    height: 15.625rem;
                }
            }
        }
    }
}