@media (max-width: 24.5rem){
    header{
        .header-text-2{
            .subtitulo{
                width: 64.5%;
            }
        }
        .logo-container-2 {
            display: flex;
            align-items: center;
            img{
                height: 5rem;
                width: 5rem;
            }
        }
        .navbar-2{
            .btn-hamburguesa{
                .navbar-toggler{
                    padding-right: .625rem;
                    .navbar-toggler-icon{
                        width: 2.8125rem;
                        height: 2.8125rem;
                    }
                }
            }
            .whatsapp-navbar-container{
                a{
                    img{
                        width: 3.125rem;
                    }
                }
            }
        }
    }

    footer{
        .footer-container{
            .footer-contacto{
                .footer-item{
                    a{
                        font-size: .9375rem;
                        
                    }
                }
            }
            .footer-direccion, .footer-horarios{
                p{
                    font-size: .9375rem;
                }
            }
        }  
    }
}