@media (max-width: 25.875rem){
    header{
        .header-text-2{
            .subtitulo{
                width: 61%;
            }
        }
    }
    footer{
        .footer-container{
            .footer-contacto{
                .footer-item{
                    width: 100%;
                    .img-btn-contacto-footer{
                        img{
                            width: 3.75rem;
                        }
                    }
                }
            }
        }  
    }

// Main Inicio
    .main-inicio{
        .historia-inicio-container{
            .historia-inicio{
                h2{
                    padding: 0 4.375rem 0 4.375rem;
                    &::before{
                        bottom: -0.625rem;
                    }
                }
            }
        }
    }
}