@media (max-width: 26.9375rem){
    header{
        .header-text-2{
            .subtitulo{
                width: 58.5%;
            }
        }
        .navbar-2{
            .btn-hamburguesa{
                .offcanvas{
                    .offcanvas-body{
                        ul{
                            padding-left: 1.25rem;
                            gap: 1.4375rem;
                            .nav-item {
                                font-size: 1.375rem; 
                            }
                        }
                    }
                }
            }
        }
    }

// Main Inicio
    .main-inicio{
        .introduction{
            height: 40.625rem;
            .introduction-information{
                h1{
                    font-size: 1.375rem;
                }
                p{
                    font-size: .9375rem;
                }
                a{
                    font-size: .9375rem;
                }
            }
        }
        .servicios-inicio-container{
            h2{
                font-size: 1.5rem;
            }
            .servicios-inicio{
                .cremaciones-inicio, .ambulancia-inicio, .asesoramientos-inicio, .traslados-inicio, .velatorios-inicio{
                    P{
                        font-size: .9375rem;
                    }
                }
            }
        }
        .historia-inicio-container{
            .historia-inicio{
                height: 50%;
                h2{
                    font-size: 1.5rem;
                }
                p{
                    font-size: .9375rem;
                }
                a{
                    font-size: .9375rem;
                }
            }
            img{
                height: 15.625rem;
            }
        }
        .contacto-inicio-container{
            .ubicacion-mapa-inicio{
                h2, p{
                    font-size: .9375rem;
                }
                .mapa-inicio{
                    width: 20.3125rem;
                    height: 17.1875rem;
                }
            }
            .contacto-inicio{
                h2{
                    font-size: 1.5rem;
                }
                .contacto-inicio-item{
                    a{
                        font-size: .9375rem;
                    }
                }
            }
        }
    }
}