@media (max-width: 27.5rem){
    header{
        .logo-container-2 {
            display: flex;
            align-items: center;
            img{
                height: 5.3125rem;
                width: 5.3125rem;
            }
        }
        .navbar-2{
            .btn-hamburguesa{
                .navbar-toggler{
                    padding-right: .9375rem;
                    .navbar-toggler-icon{
                        width: 3.125rem;
                        height: 3.125rem;
                    }
                }
                p{
                    font-size: 1rem;
                }
            }
            .whatsapp-navbar-container{
                a{
                    img{
                        width: 3.4375rem;
                    }
                }
            }
        }
    }

    footer{
        .footer-container{
            div{
                width: 100%;
            }
            .footer-contacto{
                .footer-item{
                    column-gap: 0;
                    .img-btn-contacto-footer{
                        img{
                            width: 3.75rem;
                        }
                    }
                }
            }
        }
    }
}