@media (max-width: 506px){
    body::before {
        content: "";
        display: block;
        height: 13.4375rem;
    }

    header{
        .header-text-2{
            .titulo{
                font-size: 1.625rem;
            }
            .subtitulo{
                font-size: 1.125rem;
                width: 50%;
            }
        }
    }

    footer{
        .footer-container{
            .footer-contacto{
                .footer-item{
                    column-gap: .625rem;
                    .img-btn-contacto-footer{
                        img{
                            width: 4.0625rem;
                        }
                    }
                    a{
                        font-size: 1rem;
                    }
                }
            }
            .footer-direccion, .footer-horarios{
                h2{
                    font-size: 1.375rem;
                }
                p{
                    font-size: 1rem;
                }
                a{
                    font-size: 1.125rem;
                }
            }
        }
    }

// Main Inicio
    .main-inicio{
        .servicios-inicio-container{
            h2{
                font-size: 1.625rem;
            }
            .servicios-inicio{
                row-gap: 5rem;
                .cremaciones-inicio, .ambulancia-inicio, .asesoramientos-inicio, .traslados-inicio, .velatorios-inicio{
                    width: 100%;
                    &::before{
                        left: 12%; /* Centra el subrayado */
                        width: 75%; /* Controla el porcentaje del subrayado */
                    }
                }
            }
        }
    }

        /* Cuando se haga scroll, mueve los elementos */
        body.scrolled header .logo-container-2 , 
        body.scrolled header .navbar-2 {
        transform: translateY(-7.2012rem); /* Mueve hacia abajo los elementos */
        }
}