@media (max-width:  37.5rem){

    body::before {
        content: "";
        display: block;
        height: 15rem;
    }

    // Main Contacto
        .main-contacto, .main-inicio{
            .contacto{
                padding-top: 3.125rem;
                .contacto-item{
                    h3{
                        font-size: 1.25rem;
                    }
                    .btn-contacto{
                        font-size: 1rem;
                    }
                    .img-btn-contacto{
                        img{
                            width: 4.375rem;
                        }
                    }
                }
            }
            .formulario-inicio-container{
                h2{
                    font-size: 1.125rem;
                }
                .formulario-inicio{
                    .form-grid{
                        button{
                            height: 2.8125rem;
                            font-size: 1rem;
                        }
                        .form-group{
                            input, textarea{
                                font-size: .875rem;
                            }
                            
                        }
                    }
                    .form-mensaje-enviado{
                        font-size: .9375rem;
                    }
                }
            }
        }

// Main Servicios
    .main-servicios{
        .hero-servicios{
            height: 18.75rem;
            h1{
                font-size: 1.625rem;
                padding: .9375rem 3.125rem .9375rem 3.125rem;
            }
        }
        .servicios-container{
            .servicios{
                h2{
                    font-size: 1.5rem;
                }
            }
        }
    }

// Main Nosotros
    .main-nosotros{
        .hero-nosotros{
            height: 18.75rem;
            h1{
                font-size: 1.625rem;
                padding: .9375rem 3.125rem .9375rem 3.125rem;
            }
        }
        .nosotros-container{
            .nosotros{
                h2{
                    font-size: 1.5rem;
                }
            }
        }
    }  

// Main Inicio
    .main-inicio{
        .introduction{
            .introduction-information{
                height: 60%;
                h1{
                    font-size: 1.4375rem;
                }
            }
        }
        .servicios-inicio-container{
            h2{
                font-size: 1.75rem;
            }
            .servicios-inicio{
                .cremaciones-inicio, .ambulancia-inicio, .asesoramientos-inicio, .traslados-inicio, .velatorios-inicio{
                    h3{
                        font-size: 1.25rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                    img{
                        width: 6.25rem;
                    }
                }
            }
        }
        .historia-inicio-container{
            height: 50rem;
            .historia-inicio{
                height: 40%;
                h2{
                    font-size: 1.75rem;
                }
                p{
                    font-size: 1rem;
                }
                a{
                    font-size: 1rem;
                }
            }
            img{
                height: 21.875rem;
            }
        }
        .contacto-inicio-container{
            .ubicacion-mapa-inicio{
                h2, p{
                    font-size: 1rem;
                }
            }
            .contacto-inicio{
                h2{
                    font-size: 1.75rem;
                }
                .contacto-inicio-item{
                    h3{
                        font-size: 1.25rem;
                    }
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}