@media (max-width: 40.5rem){
    header{
        .header-text-2{
            .subtitulo{
                width: 43%;
            }
        }
        .navbar-2{
            .btn-hamburguesa{
                .offcanvas{
                    .offcanvas-body{
                        ul{
                            gap: 1.5625rem;
                            .nav-item {
                                font-size: 1.5rem; 
                            }
                        }
                    }
                }
            }
        }
    }
    
// Main Servicios
    .main-servicios{
        .hero-servicios{
            h1{
                font-size: 1.75rem;
                padding: .9375rem 4.6875rem .9375rem 4.6875rem;
            }
        }
    }
}