@media (max-width:  43.75rem){

// Main Contacto
    .main-contacto{
        .formulario-inicio-container{
            h2{
                font-size: 20px;
            }
            .formulario-inicio{
                .form-grid{
                    button{
                        height: 3.125rem;
                    }
                    .form-group{
                        input, textarea{
                            font-size: .875rem;
                        }
                        
                    }
                }
            }
        }
    }
}