@media (max-width:  43.75rem){

// Main Contacto
    .main-contacto, .main-inicio{
        .formulario-inicio-container{
            h2{
                font-size: 1.25rem;
            }
            .formulario-inicio{
                .form-grid{
                    button{
                        height: 3.125rem;
                    }
                    .form-group{
                        input, textarea{
                            font-size: .875rem;
                        }
                        
                    }
                }
            }
        }
    }

    
// Main Inicio
    .main-inicio{
        .introduction{
            .introduction-information{
                p{
                    font-size: 1rem;
                }
                a{
                    font-size: 1rem;
                }
            }
        }
    }
}