@media (max-width: 47.9375rem){
    header{
        @include grid(1fr 1fr 1fr, 1fr 7.5rem, 0, 0, center, center);
        height: fit-content;
        position: absolute;
        .header-text-2{
            @include grid-placement(1, 2, 1, 4, center,center);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2% 0 2% 0;
            width: 100%;
            border-bottom: solid 2px $colorPrincipal1;
            p{
                @include fonts($colorBotones1, normal, 1.875rem, center);
                font-family: "lora";
                margin: 0;
                width: 100%;
            }
            .subtitulo{
                font-size: 1.25rem;
                width: 35%;
            }
        }
        .logo-container-2 {
            @include grid-placement(2, 3, 1, 2, center,center);
            display: inline-block;
            background-color: $colorPrincipal2;
            border-bottom: solid .0625rem $colorPrincipal1;
            height: 7.5rem;
            padding: .625rem 100% .625rem 100%;
            position: fixed;
            transition: transform 0.3s ease; /* Transición para el efecto de deslizamiento */
        }
        .navbar-2{
            @include grid-placement(2, 3, 2, 4, center, center);
            justify-content: space-around;
            padding: 0;
            width: 66%;
            position: fixed;
            transition: transform 0.3s ease; /* Transición para el efecto de deslizamiento */
            .btn-hamburguesa{
                .navbar-toggler{
                    .navbar-toggler-icon{
                        width: 3.4375rem;
                        height: 3.4375rem;
                    }
                }
                .offcanvas{
                    width: 100%;
                }
            }
            .whatsapp-navbar-container{
                a{
                    img{
                        width: 4.0625rem;
                    }
                }
            }
        }
        .general-container, .header-border{
            display: none;
        }
    }

    footer{

        padding-top: 31.25rem;

        .footer-container{
            @include flex(column, center, center, 75px);
            div{
                width: 80%;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: -15%; /* Ajusta la posición del subrayado */
                    left: 21.5%; /* Centra el subrayado */
                    width: 60%; /* Controla el porcentaje del subrayado */
                    height: .1875rem; /* Grosor del subrayado */
                    background-color: $colorPrincipal2; /* Color del subrayado */
                }
            }
            .footer-contacto{
                @include flex(column, center, center, 1.875rem);
                .footer-item{
                    @include grid(5rem auto, auto auto, 1.875rem, 0, left, none);
                    width: 90%;
                    .img-btn-contacto-footer{
                        grid-row: 1/3;
                        grid-column: 1/2;
                    }
                    h3{
                        @include grid-placement(1, 2, 2, 3, last baseline, left);
                    }
                    a{
                        @include grid-placement(2, 3, 2, 3, none, left);
                    }
                    &::before{
                        display:  none;
                    }
                }
                &::before{
                    bottom: -15%; /* Ajusta la posición del subrayado */
                    left: 24.5%; /* Centra el subrayado */
                    width: 53.4%; /* Controla el porcentaje del subrayado */
                    height: .1875rem; /* Grosor del subrayado */
                    background-color: $colorPrincipal2; /* Color del subrayado */
                }
            }
        }
    }

    /* Cuando se haga scroll, mueve los elementos */
    body.scrolled header .logo-container-2 , 
    body.scrolled header .navbar-2 {
    transform: translateY(-8.6037rem); /* Mueve hacia abajo los elementos */
    }

}


