@media (max-width:  48rem){
    header{
        .general-container{
            padding: 0 3% 0 4%;
            .header-text{
                .titulo{
                    font-size: 1.625rem;
                }
                .subtitulo{
                    font-size: 1rem;
                }
            }
        }
        .navbar-2{
            .btn-hamburguesa{
                .navbar-toggle-icon{
                    width: 2.5rem ;
                    height: 2.5rem ;
                }
                p{
                    font-size: 1.125rem;
                }
            }
            .whatsapp-navbar-container{
                img{
                    width: 3.125rem;
                }
            }
        }
    }

    footer{
        padding: 5% 0 17% 0;
    }
}