@media (max-width:  56.25rem){

// Main Contacto
    .main-contacto{
        .formulario-inicio-container{
            h2{
                font-size: 1.625rem;
            }
            .formulario-inicio{
                .form-grid{
                    button{
                        font-size: 1.125rem;
                        width: 7.1875rem;
                        height: 3.4375rem;
                    }
                }
            }
        }
    }
}