@media (max-width:  60.3125rem) {
    header{
        .general-container{
            padding: 0 2% 0 3%;
            .header-text{
                .titulo{
                    font-size: 26px;
                }
            }
        }
        .navbar-2{
            padding: 0 3% 0 2%;
        }
    }
}