@mixin hero(
    $bgimg: none, 
    $width: 100%, 
    $height: auto
) {
    background-image: $bgimg;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    width: $width;
    height: $height;
}

@mixin flex(
    $direction: row, 
    $justify: flex-start, 
    $align: stretch, 
    $gap: 0
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin grid(
    $templatecolumns: auto, 
    $templaterows: auto,
    $columngap: 0, 
    $rowgap: 0,
    $justify: stretch, 
    $align: stretch
) {
    display: grid;
    grid-template-columns: $templatecolumns;
    grid-template-rows: $templaterows;
    column-gap: $columngap;
    row-gap: $rowgap;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid-placement(
    $rowstart: auto, 
    $rowend: auto, 
    $columnstart: auto, 
    $columnend: auto, 
    $align: auto, 
    $justify: auto
) {
    grid-row: #{$rowstart} / #{$rowend};
    grid-column: #{$columnstart} / #{$columnend};
    align-self: $align;
    justify-self: $justify;
}

@mixin fonts(
    $color: inherit, 
    $font-weight: normal, 
    $font-size: 1rem, 
    $text-align: left
) {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    text-align: $text-align;
}

// animations
@mixin tracking-in-expand($duration: 1s, $delay: 0s) {
    @-webkit-keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em;
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em;
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
    animation: tracking-in-expand $duration ease-in-out $delay;
    -webkit-animation: tracking-in-expand $duration ease-in-out $delay;
  }

@mixin text-focus-in($duration: 1s, $delay: 0s) {
    @-webkit-keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
    }
    @keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
    }
    animation: text-focus-in $duration ease-in-out $delay;
    -webkit-animation: text-focus-in $duration ease-in-out $delay;
  }
