$colorPrincipal1: #00346B;
$colorPrincipal2: #F1F1F1;
$colorLetrasMain: black;
$colorLetrasFooter: white;
$colorLetrasTitulos: #00346B;
$colorLetrasSubTitulos: #F1F1F1;
$colorBotones1: #00346B;
$colorBotones2: #F1F1F1;