.main-contacto{
    background-color: $colorPrincipal2;
    .contacto{
        @include flex(row, center, center, 8%);
        padding: 4% 2% 4% 2%;
        .contacto-item{
            @include flex(column, center, center, 8px);
            .img-btn-contacto{
                img{
                    width: 100px; 
                    transition: all 0.3s ease; 
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            h3{
                @include fonts($colorPrincipal1, normal, 30px, center);
                font-family: "Lora";
                margin-bottom:10px;
            }
            .btn-contacto{
                @include fonts(map-get($colores, color1), normal, 25px, center);
                font-family: "Open Sans";
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}