.main-contacto{
    background-color: $colorPrincipal2;
    .contacto{
        @include flex(row, center, center, 8%);
        padding: 4% 2% 4% 2%;
        .contacto-item{
            @include flex(column, center, center, .5rem);
            .img-btn-contacto{
                img{
                    animation: pulsate-bck 1s infinite;
                    -webkit-animation: pulsate-bck 1s infinite;  
                    width: 6.25rem; 
                }
            }
            h3{
                @include fonts($colorPrincipal1, normal, 1.875rem, center);
                font-family: "Lora";
                margin-bottom: .625rem;
            }
            .btn-contacto{
                @include fonts(map-get($colores, color1), normal, 1.5625rem, center);
                font-family: "Open Sans";
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}