footer{
    background-color: $colorPrincipal1;
    display: flex;
    
    align-items: center;
    height: 450px;
    // h2{
    //     @include fonts($colorLetrasSubTitulos, normal, 2.0313rem, center);
    //     font-family: "lora";
    //     margin-bottom: 1.6875rem;
    // }
    h2{
        @include fonts($colorLetrasSubTitulos, normal, 2.0313rem, center);
        font-family: "lora";
        margin-bottom: 1.6875rem;
        position: relative;
        display: inline-block;
        &::before{
            content: "";
            position: absolute;
            bottom: -4px; /* Ajusta la posición del subrayado */
            left: 21.5%; /* Centra el subrayado */
            width: 60%; /* Controla el porcentaje del subrayado */
            height: 3px; /* Grosor del subrayado */
            background-color: $colorPrincipal2; /* Color del subrayado */
            }
        }
    }
    p{
        @include fonts($colorLetrasFooter, normal, 20px, center);
        font-family: "Open Sans";
        width: 60%;
        margin-bottom: 1.5625rem
    }
    .footer-container{
        @include flex (row, space-between, flex-start, 0);
        width: 100%;
        div{
            width: 33%;
            flex-grow: 1;
        }
        .footer-direccion, .footer-horarios{
            @include flex (column, center, center, 0);
        }
        .footer-direccion{
            border-right: 4px solid $colorBotones2;
            border-left: 4px solid $colorBotones2;
        }













        // TERMINAR EL GRID

        .footer-contacto {
            @include flex(column, center, center, 30px);
            .footer-item {
                display: grid;
                grid-template-columns: auto 1fr; /* Ícono y texto */
                gap: 1rem;
                align-items: center;
                // justify-content: flex-end;
                width: 100%;
        
                img {
                    width: 5rem; /* Tamaño del ícono */
                    height: auto;
                }
                h3{
                    @include fonts($colorLetrasSubTitulos, normal, 20, center);
                    font-family: "lora";
                }
                p {
                    @include fonts($colorLetrasFooter, normal, 20px, center);
                    font-family: "Open Sans";
                
                    a {
                        color: white; /* Ajusta el color del enlace */
                        text-decoration: none;
        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
}
   
    

    
