footer{
    background-color: $colorPrincipal1;
    display: flex;
    align-items: center;
    padding: 4% 0 4% 0;
    // height: 28.125rem;
    h2{
        @include fonts($colorLetrasSubTitulos, normal, 2.0313rem, center);
        font-family: "lora";
        margin-bottom: 1.6875rem;
        position: relative;
        display: inline-block;
        &::before{
            content: "";
            position: absolute;
            bottom: -0.25rem; /* Ajusta la posición del subrayado */
            left: 21.5%; /* Centra el subrayado */
            width: 60%; /* Controla el porcentaje del subrayado */
            height: .1875rem; /* Grosor del subrayado */
            background-color: $colorPrincipal2; /* Color del subrayado */
            }
        }
    p{
        @include fonts($colorLetrasFooter, normal, 1.25rem, center);
        font-family: "Open Sans";
        width: 60%;
        margin-bottom: 1.5625rem
    }
    .footer-container{
        @include flex (row, space-between, flex-start, 0);
        width: 100%;
        div{
            width: 33%;
            flex-grow: 1;
        }
        .footer-direccion, .footer-horarios{
            @include flex (column, center, center, 0);
        }
        .footer-direccion{
            border-right: .25rem solid $colorBotones2;
            border-left: .25rem solid $colorBotones2;
        }
        .footer-contacto{
            @include flex(column, center, center, 1.875rem);
            .footer-item{
                width: 70%;
                @include grid(5rem auto, auto auto, 1.875rem, 0, left, none);
                .img-btn-contacto-footer{
                    grid-row: 1/3;
                    grid-column: 1/2;
                    img{
                        width: 5rem; 
                        transition: all 0.3s ease; 
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                h3{
                    @include fonts($colorLetrasSubTitulos, normal, 1.25rem, center);
                    font-family: "Lora";
                    @include grid-placement(1, 2, 2, 3, last baseline, left);
                    margin: 0
                }
                a{
                    @include fonts($colorLetrasFooter, normal, 1.25rem, flex-start);
                    font-family: "Open Sans";
                    text-decoration: none;
                    word-break: break-word;                    
                    @include grid-placement(2, 3, 2, 3, none, left);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
  
