footer{
    background-color: $colorPrincipal1;
    display: flex;
    align-items: center;
    height: 450px;
    h2{
        @include fonts($colorLetrasSubTitulos, normal, 2.0313rem, center);
        font-family: "lora";
        margin-bottom: 1.6875rem;
        position: relative;
        display: inline-block;
        &::before{
            content: "";
            position: absolute;
            bottom: -4px; /* Ajusta la posición del subrayado */
            left: 21.5%; /* Centra el subrayado */
            width: 60%; /* Controla el porcentaje del subrayado */
            height: 3px; /* Grosor del subrayado */
            background-color: $colorPrincipal2; /* Color del subrayado */
            }
        }
    p{
        @include fonts($colorLetrasFooter, normal, 20px, center);
        font-family: "Open Sans";
        width: 60%;
        margin-bottom: 1.5625rem
    }
    .footer-container{
        @include flex (row, space-between, flex-start, 0);
        width: 100%;
        div{
            width: 33%;
            flex-grow: 1;
        }
        .footer-direccion, .footer-horarios{
            @include flex (column, center, center, 0);
        }
        .footer-direccion{
            border-right: 4px solid $colorBotones2;
            border-left: 4px solid $colorBotones2;
        }
        .footer-contacto{
            @include flex(column, center, center, 30px);
            .footer-item{
                width: 70%;
                @include grid(80px auto, auto auto, 30px, 0, left, none);
                img{
                    width: 5rem; 
                    grid-row: 1/3;
                    grid-column: 1/2;
                    transition: all 0.3s ease; 
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                h3{
                    @include fonts($colorLetrasSubTitulos, normal, 20px, center);
                    font-family: "Lora";
                    @include grid-placement(1, 2, 2, 3, last baseline, left);
                    margin: 0
                }
                a{
                    @include fonts($colorLetrasFooter, normal, 20px, center);
                    font-family: "Open Sans";
                    text-decoration: none;
                    @include grid-placement(2, 3, 2, 3, none, left);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
  
