header{
    height: 12.5rem;
    background-color: $colorPrincipal2;
    display: flex;
    align-items: center;
    position: fixed;    
    width: 100%;
    z-index: 1000;
    top: 0;
    border-bottom: solid 1px $colorPrincipal1;
    .header-border{
        height: 6.25rem;
        border-right: .25rem solid $colorBotones1;

    }
    .general-container{
        width: 40%;
        display: flex;
        justify-content:space-between;
        margin: 0 6.25rem 0 6.25rem;
        align-items: center;
        .logo-container{
            width: 7.5rem;
            height: 7.5rem;
            background-color: black;
        }
        .header-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                @include fonts($colorBotones1, normal, 2.1875rem, center);
                font-family: "lora";
                margin: 0;
                width: 100%;
            }
            .subtitulo{
                font-size: 1.25rem;
                width: 75%;
            }
        }
    }
    
}