header{
    height: 10.9375rem;
    background-color: $colorPrincipal2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;    
    width: 100%;
    z-index: 1000;
    top: 0;
    border-bottom: solid 1px $colorPrincipal1;
    .header-border{
        height: 6.25rem;
        border-right: .25rem solid $colorBotones1;

    }

    .general-container{
        width: 45%;
        display: flex;
        justify-content:space-between;
        // margin: 0 6.25rem 0 6.25rem;
        padding: 0 5% 0 5%;
        align-items: center;
        .logo-container{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 7.5rem;
                height: 7.5rem;
                transition: all 0.3s ease; 
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .header-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                @include fonts($colorBotones1, normal, 2.1875rem, center);
                font-family: "lora";
                margin: 0;
                width: 100%;
            }
            .subtitulo{
                font-size: 1.25rem;
                width: 75%;
            }
        }
    }
    .logo-container-2{
        display: none;
    }
    .header-text-2{
        display: none;
    }
    
}