body::before {
    content: "";
    display: block;
    height: 10.9375rem;
}

.introduction{
    @include flex(column, center, center,0);
    height: 40.625rem;
    background-image: url(../../assets/FloresBackgroundInicio.jpg);
    background-color: rgba(94, 82, 40, 0.2);
    background-blend-mode: multiply;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .introduction-information{
        @include flex(column, center, center, 1.875rem);
        background-color: #ffffffbd;
        width: 45%;
        height: 62.5%;
        h1{
            @include fonts($colorPrincipal1, normal, 1.875rem, center);
            font-family: "Lora";
            width: 90%;
            position: relative;
            display: inline-block;
            &::before{
                content: "";
                position: absolute;
                bottom: -0.50rem; /* Ajusta la posición del subrayado */
                left: 20%; /* Centra el subrayado */
                width: 60%; /* Controla el porcentaje del subrayado */
                height: .2188rem; /* Grosor del subrayado */
                background-color: $colorPrincipal1; /* Color del subrayado */
                }
        }
        p{
            @include fonts( map-get($colores, color1), normal, 1.4063rem, center);
            font-family: "Open Sans";
            width: 87%;
            text-align: justify;
            margin: 0
        };
    }
}

.servicios-inicio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colorPrincipal2;
    h2{
        @include fonts($colorPrincipal1, normal, 2.5rem, center);
        font-family: "lora";
        padding-top: 3.125rem;
        position: relative;
        display: inline-block;
        &::before{
            content: "";
            position: absolute;
            bottom: -0.6563rem; /* Ajusta la posición del subrayado */
            left: 35%; /* Centra el subrayado */
            width: 30%; /* Controla el porcentaje del subrayado */
            height: .1875rem; /* Grosor del subrayado */
            background-color: $colorPrincipal1; /* Color del subrayado */
            }
        }
    .servicios-inicio{
        padding-top: 3.125rem ;
        width: 70%;
        @include grid(1fr 1fr 1fr, 1fr 1fr, 3.125rem, 0rem, center, center);
        div{
            @include flex(column, center,center, 1.25rem);
            img{
                width: 6.25rem;
            }
            h3{
                @include fonts($colorPrincipal1, normal, 1.875rem, center);
                font-family: "Lora";
            }
            p{
                @include fonts(map-get($colores, color1), normal, 1.25rem, center);
                font-family: "Open Sans";
                width: 80%;
            }
        }
        .cremaciones-inicio{
            @include grid-placement( 1 , 2 , 1 , 2 , flex-start, center); 
        }
        .ambulancia-inicio {
            position: relative; 
            @include grid-placement(1, 2, 2, 3, flex-start, center);

            /* Divisor izquierdo */
            &::before {
                content: "";
                position: absolute;
                left: -1.25rem; /* Mueve la línea a la izquierda */
                top: 10%;
                width: .2188rem; /* Grosor de la línea */
                height: 80%; /* Se extiende hasta la altura de la sección */
                background-color: $colorPrincipal1; /* Color de la línea */
            }

            /* Divisor derecho */
            &::after {
                content: "";
                position: absolute;
                right: -1.25rem; /* Mueve la línea a la derecha */
                top: 10%;
                width: .2188rem; /* Grosor de la línea */
                height: 80%; /* Se extiende hasta la altura de la sección */
                background-color: $colorPrincipal1; /* Color de la línea */
            }
        }
        .asesoramientos-inicio{
            @include grid-placement(1, 2, 3, 4, flex-start, center);
        }
        .traslados-inicio{
            @include grid-placement(2, 3, 1, 3, flex-start, center);
            width: 50%;

        }
        .velatorios-inicio{
            @include grid-placement(2, 3, 2, 4, flex-start, center);
            width: 50%;
        }
        .servicio-border{
            @include grid-placement(2, 3, 2, 3, flex-start, center);
            height: 70%;
            width: .2188rem;
            background-color: $colorPrincipal1;
        }
    }
}

.historia-inicio-container{
    @include flex(row, center, center, 5%);
    height: 40.625rem;
    background-image: url(https://images.unsplash.com/photo-1660141361463-9791da1c0bc9?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color: rgba(94, 82, 40, 0.2);
    background-blend-mode: multiply;
    background-position: 25% 62.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .historia-inicio{
        width: 45%;
        height: 69%;
        background-color: #ffffff91;
        @include flex(column, center, center, 3.125rem);
        h2{
            @include fonts($colorPrincipal1, normal, 2.1875rem, center);
            font-family: "lora";
            margin: 0;
            position: relative;
            display: inline-block;
            &::before{
                content: "";
                position: absolute;
                bottom: -0.3438rem; /* Ajusta la posición del subrayado */
                left: 33%; /* Centra el subrayado */
                width: 35%; /* Controla el porcentaje del subrayado */
                height: .1875rem; /* Grosor del subrayado */
                background-color: $colorPrincipal1; /* Color del subrayado */
            }
        }
        p{
            @include fonts(map-get($colores, color1), normal, 1.25rem, center);
            font-family: "Open Sans";
            width: 75%;
            text-align: justify;
            margin: 0;
        }
    }
    img{
        width: auto;
        height: 69%;
        object-fit: contain;
        border: .0625rem solid white  
    }
}

.contacto-inicio-container{
    @include flex(row, center, center, 20%);
    background-color: $colorPrincipal2;
    padding: 6.25rem 0 6.25rem 0;
    .ubicacion-mapa-inicio{
        .mapa-inicio{
            width: 31.25rem;
            height: 28.125rem;
            border: solid .0625rem $colorPrincipal1;
            border-radius: 1.875rem 1.875rem 0 0;
            display: block;
        }
        h2, p{
            margin: 0;
            background-color: $colorPrincipal1;
            padding: .625rem 0 .625rem 0;
            @include fonts(map-get($colores, color2), normal, 1.4063rem, center);
            font-family: "Lora";
        }
        h2{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                bottom: 0; /* Ajusta la posición del subrayado */
                left: 30%; /* Centra el subrayado */
                width: 40%; /* Controla el porcentaje del subrayado */
                height: .125rem; /* Grosor del subrayado */
                background-color: $colorPrincipal2; /* Color del subrayado */
                }
        }
        p{
            border-radius: 0 0 1.875rem 1.875rem ;
        }
    }
    .contacto-inicio{
        @include flex(column, center, flex-start, 3.125rem);
        h2{
            @include fonts($colorPrincipal1, normal, 2.5rem, center);
            font-family: "lora";
            margin: 0;
            align-self: center;
            position: relative;
            display: inline-block;
            &::before{
                content: "";
                position: absolute;
                bottom: -0.4375rem; /* Ajusta la posición del subrayado */
                left: 25%; /* Centra el subrayado */
                width: 50%; /* Controla el porcentaje del subrayado */
                height: .1875rem; /* Grosor del subrayado */
                background-color: $colorPrincipal1; /* Color del subrayado */
            }
        }
        .contacto-inicio-item{
            @include grid(5rem auto, auto auto, 1.875rem, 0, left, none);
            .img-btn-contacto{
                grid-row: 1/3;
                grid-column: 1/2;
                img{
                    animation: pulsate-bck 1s infinite;
                    -webkit-animation: pulsate-bck 1s infinite;  
                    width: 5.625rem; 
                }
            }
            h3{
                @include fonts($colorPrincipal1, normal, 1.875rem, center);
                font-family: "Lora";
                @include grid-placement(1, 2, 2, 3, last baseline, left);
                margin: 0
            }
            .btn-contacto{
                @include fonts(map-get($colores, color1), normal, 1.5625rem, center);
                font-family: "Open Sans";
                text-decoration: none;
                @include grid-placement(2, 3, 2, 3, none, left);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}