.main-servicios{
    .hero-servicios{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../assets/backgroundservicios.jpg);
        background-color: rgba(94, 82, 40, 0.2);
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 25rem;
        h1{
            background: linear-gradient(to right, rgba(255, 255, 255, 0),#f1f1f18c, #f1f1f1c9, #f1f1f1e0,#f1f1f1c9, #f1f1f18c, rgba(255, 255, 255, 0));
            padding: .9375rem 9.375rem .9375rem 9.375rem;
            margin: 0;
            @include fonts($colorPrincipal1, normal, 2.5rem, center);
            @include tracking-in-expand(1s, 0.1s);
            font-family: "Lora";
            white-space: nowrap;
        } 
    }
    .servicios-container{
        padding: 5% 10% 5% 10%;
        background-color: $colorPrincipal2;
        .servicios{
            @include grid(1fr 1fr 1fr 1fr, 1fr 1fr 1fr 1fr, 7%, 3%, center, center);
            h2{
                @include fonts($colorPrincipal1, normal, 2.1875rem, flex-start);
                font-family: "Lora";
                margin-bottom: 1.25rem;
            }
            p{
                @include fonts(map-get($colores, color1), normal, 1.6875rem, justify);
                font-family: "Open Sans";
                line-height: 3.125rem;
                margin: 0
            }
            .parrafo-1-servicios{
                @include grid-placement(1, 2, 1, 5, center, flex-start);
            }
            .img-velatorios{
                @include grid-placement(2, 3, 1, 3, flex-start, flex-start);
                .carousel{
                    width: 29.6875rem;
                    height: 15.625rem;
                    .carousel-inner{
                        .carousel-item{
                            border: solid .125rem $colorPrincipal1;
                            img{
                                width: 29.6875rem;
                                height: 15.625rem;
                            }
                        }
                    }
                }
            }
            .parrafo-2-servicios{
                @include grid-placement(2, 3, 2, 5, center, flex-end);
                width: 80%;
            }
            .parrafo-3-servicios{
                @include grid-placement(3, 4, 1, 5, center, flex-start);
            }
            .parrafo-4-servicios{
                @include grid-placement(4, 5, 3, 5, flex-start, flex-start);
            }
            .parrafo-5-servicios{
                @include grid-placement(4, 5, 1, 3, flex-start, flex-start);
            }
        }
    }
}