.button-footer{
    @include fonts($colorLetrasFooter, normal, 1.25rem, center);
    font-family: "lora";
    border-radius: .625rem;
    border: .25rem solid $colorPrincipal2;
    padding: .4688rem .9375rem;
    margin-top: 2.1875rem;
    margin-bottom: 2.1875rem;
    transition: all 0.3s ease; 
    &:hover {
        transform: scale(1.1);
    }
}

.introduction-information a{
    @extend .button-footer;
    border-color: $colorPrincipal1;
    color: $colorPrincipal1;
    font-weight: 650;
    margin: 0;
}

.historia-inicio a{
    @extend .button-footer;
    border-color: $colorPrincipal1;
    color: $colorPrincipal1;
    font-weight: 650;
    margin: 0;
}

.form-grid{
    button{
        @include fonts(map-get($colores, color2), normal, 25px, flex-start);
        font-family: "Lora";
        width: 150px;
        height: 65px;
        background-color: $colorPrincipal1;
        border: none;
        border-radius: 10px;
        transform-origin: left;

        transition: all 0.3s ease; 
        &:hover{
            background-color: #093b70;
            border: solid 5px $colorPrincipal1;
            transform: scale(1.1);
        }
    }
}