.button-footer{
    @include fonts($colorLetrasFooter, normal, 1.25rem, center);
    font-family: "lora";
    border-radius: .625rem;
    border: .25rem solid $colorPrincipal2;
    padding: .4688rem .9375rem;
    margin-top: 2.1875rem;
    margin-bottom: 2.1875rem;
    transition: all 0.3s ease; 
    animation: pulsate-bck 2.5s infinite;
    -webkit-animation: pulsate-bck 2.5s infinite; 
}

.introduction-information a{
    @extend .button-footer;
    border-color: $colorPrincipal1;
    color: $colorPrincipal1;
    font-weight: 650;
    margin: 0;
    animation: pulsate-bck 2.5s infinite;
    -webkit-animation: pulsate-bck 2.5s infinite; 
}

.historia-inicio a{
    @extend .button-footer;
    border-color: $colorPrincipal1;
    color: $colorPrincipal1;
    font-weight: 650;
    margin: 0;
}

.form-grid{
    button{
        @include fonts(map-get($colores, color2), normal, 1.5625rem, flex-start);
        font-family: "Lora";
        width: 9.375rem;
        height: 4.0625rem;
        background-color: $colorPrincipal1;
        border: none;
        border-radius: .625rem;
        transform-origin: left;

        transition: all 0.3s ease; 
        &:hover{
            background-color: #093b70;
            border: solid .3125rem $colorPrincipal1;
            transform: scale(1.1);
        }
    }
}