.footer-direccion a{
    @include fonts($colorLetrasFooter, normal, 20px, center);
    font-family: "lora";
    border-radius: 10px;
    border: 4px solid $colorPrincipal2;
    padding: 7.5px 15px;
    margin-top: 35px;
    margin-bottom: 35px;
    transition: all 0.3s ease; 
    &:hover {
        transform: scale(1.1);
    }
}