.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 60%;
    margin: 0 4.375rem 0 6.25rem;
    ul {
        display: flex; 
        margin: 0;
        padding: 0;
        li {
            margin: 0 1.875rem; 
        }
        .nav-item {
            color: $colorBotones1; 
            font-family: 'Lora', serif; 
            font-size: 1.6875rem; 
            display: inline-block;
            transition: all 0.3s ease; 
            &:hover {
                color: darken($colorBotones1, 10%); 
                transform: scale(1.1);
            }
        }
        .nav-item-active{
            color: map-get($colores, color1);
        }
    }
    .whatsapp-navbar-container {
        display: flex; 
        align-items: center; 
        img {
            margin: 1.875rem;
            width: 3.125rem; 
            height: auto; 
            transition: all 0.3s ease; 
            &:hover {
                color: darken($colorBotones1, 10%); 
                transform: scale(1.1);
            }
        }
    }
}
