.navbar{
    display: flex; 
    align-items: center; 
    width: 55%;
    padding: 0 5% 0 5%;
    ul {
        display: flex;
        width: 80%;
        justify-content: space-between; 
        margin: 0;
        padding: 0;
        .nav-item {
            color: $colorBotones1; 
            font-family: 'Lora', serif; 
            font-size: 1.6875rem; 
            display: inline-block;
            transition: all 0.3s ease; 
            @include text-focus-in(0.3s, 0s);
            &:hover {
                color: darken($colorBotones1, 10%); 
                transform: scale(1.1);
            }
        }
        .nav-item-active{
            color: map-get($colores, color1);
        }
    }
    .whatsapp-navbar-container {
        display: flex; 
        align-items: center; 
        img {
            @include text-focus-in(0.3s, 0s);
            margin: 1.875rem;
            width: 3.125rem; 
            height: auto; 
            transition: all 0.3s ease; 
            &:hover {
                color: darken($colorBotones1, 10%); 
                transform: scale(1.1);
            }
        }
    }
}

.navbar-2 {
    display: none;
    .btn-hamburguesa{
        display: flex;
        align-items: center;
        .menu-toggle {
            display: none; }
        .navbar-toggler {
            padding-right: 1.125rem; 
            .navbar-toggler-icon {
                background-image: url(../../assets/btn-hamburguesa.png);
                width: 3.125rem; 
                height: 3.125rem; 
                transition: all 0.3s ease; 
                &:hover {
                    color: darken($colorBotones1, 10%); 
                    transform: scale(1.1);
                }
            }
        }
        .offcanvas{
            background-color: $colorPrincipal2;
            .offcanvas-body{
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 2.1875rem;
                    .nav-item {
                        color: $colorBotones1; 
                        font-family: 'Lora', serif; 
                        font-size: 1.5625rem; 
                        display: inline-block;
                        transition: all 0.3s ease; 
                        &:hover {
                            color: darken($colorBotones1, 10%); 
                            transform: scale(1.1);
                        }
                    }
                    .nav-item-active{
                        color: map-get($colores, color1);
                    }
                }
            }
        }
        .offcanvas.show {
            position: fixed; /* Fija el menú en la pantalla */
            top: 0;
            right: 0;
            height: 100vh; /* Para ocupar toda la altura de la pantalla */
            background-color: white;
            transform: translateX(0%) !important; /* Se asegura de que no esté desplazado */
          }
          .offcanvas-backdrop {
            background-color: rgba(0, 0, 0, 0.5) !important; /* Ajusta la opacidad del fondo */
          }
        p{
            margin: 0;
            @include fonts( $colorPrincipal1, normal, 1.25rem, center);
            font-family: "Lora";

        }
    }
    
    .whatsapp-navbar-container {
        img {
            width: 3.4375rem; 
            height: auto; 
            transition: all 0.3s ease; 
            &:hover {
                color: darken($colorBotones1, 10%); 
                transform: scale(1.1);
            }
        }
    }
}
